.ui-datepicker {
  background-color: $black;

  &--rfp-datepicker {
    background-color: $white;
    border: 1px solid $grey-lighter;
    padding: 5px;

    //@include breakpoint(small only) {
    &.datepicker-table {
      width: 320px !important;
    }

    &.datepicker-event {
      @include breakpoint(medium) {
        width: 274px !important;
        //width: 340px !important;
      }
    }
    //}

    .ui-datepicker-calendar {
      width: 100% !important;
    }

    > .ui-datepicker-header {
      .ui-datepicker-title {
        color: $black !important;
      }

      .ui-datepicker-prev {
        background: url($image-path+'calendar_arrow_dark.png') no-repeat !important;
      }

      .ui-datepicker-next {
        background: url($image-path+'calendar_arrow_dark.png') no-repeat !important;
        transform: rotate(180deg);
      }
    }

    > .ui-datepicker-calendar {
      thead {
        border: none;
        background-color: inherit;

        tr > th {
          color: black;
        }
      }

      tbody {
        tr > td {
          a {
            color: $black;

            &.ui-state-active {
              color: $black;
            }
          }

          span {
            color: $grey-light;
          }

          &.ui-datepicker-today {
            background-color: $grey-lighter;
          }

          &.ui-datepicker-current-day {
            background-color: $pink;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

  .ui-datepicker-header {
    padding: 0.2rem 0 0.4rem;

    .ui-datepicker-prev,
    .ui-datepicker-next {
      width: 6px;
      height: 10px;
      cursor: pointer;
      overflow: hidden;
      line-height: 600%;
      text-align: center;
      margin-top: 0.25rem;
      display: inline-block;
    }

    .ui-datepicker-prev {
      float: left;
      background: url($image-path+'calendar_left.png') no-repeat;
    }

    .ui-datepicker-next {
      float: right;
      background: url($image-path+'calendar_right.png') no-repeat;
    }

    .ui-datepicker-title {
      color: $white;
      font-size: 1.2rem;
      text-align: center;
      line-height: 1.5rem;
      letter-spacing: 3px;
      font-family: $secondary-font-light;
    }
  }

  .ui-datepicker-calendar {
    width: 200px;
    min-width: 100px;
    margin-bottom: 0;
    border-spacing: 0;

    @include breakpoint(small only) {
      @include breakpoint(landscape) {
        width: 97%;
        height: 80%;
      }
    }

    thead {
      border: none;
      background-color: inherit;

      th {
        color: $white;
        padding: 0.25rem;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.1rem;
        text-transform: uppercase;
        font-family: $secondary-font-light;
      }
    }

    tbody {
      border: none;
      background-color: inherit;

      & tr:nth-child(even) {
        background-color: inherit;
      }

      td {
        font-size: 0;
        padding: 2px 0;
        text-align: center;

        a,
        span {
          font-size: 1rem;
          letter-spacing: 0;
          line-height: 1.6rem;
          font-family: $quaternary-font-regular;
        }

        a {
          color: $white;

          &.ui-state-active {
            color: $grey;
          }
        }

        span {
          color: $gray-medium;
        }

        &.ui-datepicker-today {
          background-color: $grey;
        }

        &.ui-datepicker-current-day {
          background-color: $pink;
        }

        &.ui-datepicker-day-in-range {
          background-color: $pink;

          a {
            color: $gray-medium;
          }
        }
      }
    }
  }

  @include breakpoint(small only) {
    @include breakpoint(landscape) {
      width: 97%;
      height: 80%;
      top: 20px !important;
    }
  }

  @include breakpoint(small only) {
    width: 85%;
    padding: 1rem;
    min-height: 220px;

    .ui-datepicker-header {
      padding: 0.2rem 0 0.6rem;
    }

    .ui-datepicker-calendar {
      width: 100%;

      thead {
        th {
          font-size: 1.2rem;
          margin: 0.4rem 0;
        }
      }

      tbody {
        td {
          width: 3.5rem;
          padding: 0.5rem 0;

          a,
          span {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
