@font-face {
  font-family: 'Manhattan-Regular';
  src: url($asset-path+'fonts/Manhattan-Regular.eot');
  src: url($asset-path+'fonts/Manhattan-Regular.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Century-Gothic';
  src: url($asset-path+'fonts/Gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Optima';
  src: url($asset-path+'fonts/Optima.eot');
  src: url($asset-path+'fonts/Optima.eot?#iefix') format('embedded-opentype'),
    url($asset-path+'fonts/Optima.ttf') format('truetype');
}
