@mixin button_dark() {
  border: 1px solid $ink;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 0.012rem;
  width: 100%;
  outline: none;
  cursor: pointer;
  color: $ink;
}

@mixin admin-sticky-fix($offset: 0) {
  $narrow-offset: 46px;
  $wide-offset: 32px;
  @if $offset != 0 and type-of($offset) == 'number' {
    $narrow-offset: $narrow-offset + $offset;
    $wide-offset: $wide-offset + $offset;
  }
  .admin-bar & {
    top: $narrow-offset;
    @media screen and (min-width: 783px) {
      top: $wide-offset;
    }
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

// Transitions
@mixin transition-duration-s($property: all, $duration: 0.15s, $easing: ease) {
  transition: $property $duration $easing;
}

@mixin transition-duration-m($property: all, $duration: 0.2s, $easing: ease) {
  transition: $property $duration $easing;
}

// Typography
@mixin responsive-title($color: $white) {
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 23px;
  color: $color;
  text-transform: uppercase;
  font-family: $primary-font-regular;

  @include breakpoint(medium) {
    font-size: 2.2rem;
  }

  @include breakpoint(large) {
    font-size: 3.6rem;
    letter-spacing: 4px;
    line-height: 1.2;
  }
}

@mixin responsive-body($color: $grey) {
  font-family: $secondary-font-light;
  font-size: 1.4rem;
  color: $color;
  letter-spacing: 0;
  line-height: 22px;

  @include breakpoint(large) {
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 24px;
  }
}

@mixin slider-arrow-text() {
  font-family: $primary-font-regular;
  font-size: 1.2rem;
  letter-spacing: 3px;
  background: none;
  width: auto;
  height: auto;
  transform: none;
  margin: 0 2.2rem;
  padding: 7px 5px 6px 8px;
  @include transition-duration-s();

  &:hover,
  &:focus,
  &:active {
    color: $grey-lighter;
  }
  &:active {
    color: $white;
  }
}

@mixin unordered-list() {
  list-style: none;
  padding: 0;
  margin: 0;

  .item-title {
    margin-bottom: $component-list-margin-bottom;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-light;
    display: block;
    font-family: $secondary-font-light;
  }
}

@mixin slider-dot($mainColor) {
  margin: 0;

  &.slick-active button:before {
    opacity: 1;
    background-color: $mainColor;
  }

  button {
    width: 18px;
    height: 18px;
    padding: 3px;
    color: transparent;
    margin: 0;

    &:before {
      content: '';
      position: static;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline-block;
      background-color: transparent;
      box-shadow: inset 0 0 0 1px $mainColor;
      opacity: 1;
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
  }
}

@mixin aspect-ratio($width, $height, $contentSelector) {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > #{$contentSelector} {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin close-modal-button() {
  background: url($image-path+'close.png') no-repeat center center;
  background-size: cover;
  height: 2rem;
  right: 1rem;
  top: 1rem;
  width: 2rem;
}

@mixin button-outline($borderColor, $colorPseudo) {
  font-size: 1.4rem;
  padding: 1rem 3rem;
  letter-spacing: 2px;
  border: 1px solid $borderColor;
  text-transform: uppercase;
  background-color: transparent;
  font-family: $secondary-font-light;
  color: $borderColor;
  display: inline-block;
  line-height: 1.5;
  cursor: pointer;

  @include transition-duration-s();

  &:hover,
  &:focus,
  &:active {
    background-color: $borderColor;
    color: $colorPseudo;
  }

  @include breakpoint(small only) {
    padding: 1rem 1rem;
  }
}
