.ui-timepicker-container {
  background-color: $white;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 0;
  z-index: 9999 !important;

  a {
    color: $grey-light;
    border: none;
  }

  .ui-timepicker {
    padding: 0;
    font-family: $secondary-font-light;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ui-menu-item {
    background-color: $white;

    a.ui-corner-all {
      padding: 0.5rem 1.2rem;
    }

    a.ui-state-hover {
      background-color: $grey-lighter;
      border: none;
      color: $grey-light;
    }
  }
  .ui-timepicker-viewport {
    height: auto;
  }
}
