html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $primary-font-regular;

  &.no-scroll {
    @include breakpoint(small only) {
      overflow-y: hidden;
    }
  }

  &.home {
    > #main-container {
      padding-top: 0;
    }
  }

  > #main-container {
    padding-top: 50px;

    @include breakpoint(large) {
      padding-top: 54px;
    }
  }

  //SHAME
  ul.menu.language-selector.dropdown {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

//If you have a better solution please fix
@include breakpoint(small only) {
  //#main-container > .offers-archive:first-child
  //#main-container > .rooms-archive:first-child{
  //  margin-top: $nav-small-height;
  //}
}

@include breakpoint(medium down) {
  #main-container > .single-text:first-child {
    margin-top: $nav-small-height;
  }
}

.cachet-title {
  //color: $white;
  //line-height: 1.2;
  //font-size: 3.6rem;
  //letter-spacing: .24rem;
  //text-transform: uppercase;
  //font-family: $primary-font-regular;
  @include responsive-title();
}

.cachet-title-inverse {
  color: $black;
}

.content-title {
  color: $white;
  line-height: 1.2;
  font-weight: 800;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.cachet-content {
  //font-size: 1.6rem;
  //line-height: 1.625;
  //letter-spacing: .24rem;
  //font-family: $secondary-font-light;
  @include responsive-body();
}

.cachet-highlight {
  color: $black;
  margin-top: 2.5rem;
  padding: 12px;
  display: inline-block;
  border-top: 1px solid;
  letter-spacing: 0.24rem;
  border-bottom: 1px solid;
  font-family: $secondary-font-light;
  max-width: 64%;

  @include breakpoint(medium) {
    max-width: none;
  }
}

.cta.color-contrast {
  background-color: #e3c2bc;
  padding: 1rem 3rem;
  color: $black;
  font-family: $secondary-font-light;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;

  @include transition-duration-s();

  &:hover,
  &:focus {
    background-color: $pink-dark;
  }
  &:active {
    background-color: $pink-darker;
  }
}

.cta {
  &.light-outline {
    @include button-outline($white, $grey);
  }

  &.dark-outline {
    @include button-outline($grey, $white);
  }
}

.footer-title {
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: $tertiary-font-light;
}

.cachet-list {
  @include unordered-list();
}

.single-list > ul {
  margin: 0;
  list-style: none;
  display: inline-block;
  font-family: $secondary-font-light;

  li:before {
    content: '\2014 ';
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 3.65rem;
  }
}

.single-paragraph {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
  //margin-bottom: 2rem;
  font-family: $secondary-font-light;

  &.small {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }
}

.list-underlined {
  font-family: $secondary-font-light;
  border-bottom: 1px solid $grey-light;
  line-height: 2.4;
}

.main-title {
  @include responsive-title($black);
}

.main-title-second-font {
  @include responsive-title($black);
  font-family: $secondary-font-light;
  letter-spacing: 1px;
}

.wysiwyg-body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
  font-family: $secondary-font-light;
}

.wysiwyg-body,
body.wp-autoresize {
  padding: 15px !important;
}

//.single-list {
//  margin: 0;
//  list-style: none;
//  display: inline-block;
//  font-family: $secondary-font-light;
//
//  li:before {
//    content: "\2014 ";
//    font-size: 1.4rem;
//    letter-spacing: 1px;
//    line-height: 3.65rem;
//  }
//}
//
//@mixin highlight-font() {
//  text-transform: none;
//  font-family: $secondary-font-light;
//}
//
//@mixin highlight-list {
//  margin-left: 0;
//  list-style: none;
//  margin-bottom: 3rem;
//}
//
//.highlight-title {
//  @include highlight-font();
//
//  font-size: 1.6rem;
//  line-height: 1.4rem;
//  margin-bottom: 1.2rem;
//}
//
//.highlight-content {
//  @include highlight-font();
//
//  font-size: 1.4rem;
//  line-height: 1.6rem;
//  margin-bottom: 1.2rem;
//
//  &.bold {
//    font-weight: bold;
//  }
//}
//
//.highlight-slide-underline-list {
//  @include highlight-font();
//  @include highlight-list();
//
//  li {
//    line-height: 3.5rem;
//    text-decoration: underline;
//  }
//}
//
//.highlight-slide-border-bottom-list {
//  @include highlight-font();
//  @include highlight-list();
//
//  li {
//    line-height: 3.5rem;
//    text-transform: capitalize;
//    border-bottom: .1rem solid $grey-light;
//  }
//}
