/* Path to Images */
$asset-path: 'components/cachet/';
$image-path: $asset-path + 'images/';

/* Colors */
$black: #000000;
$white: #ffffff;
$grey: #242424;
$gray-medium: #535353;
$grey-light: #979797;
$grey-lighter: #ebebeb;

$pink: #e3c2bc;
$pink-dark: #cca69f;
$pink-darker: #bf938c;

$dark-burgundy: #8a0808;
$red: #ff0000;

/* Fonts */
$primary-font-regular: 'Manhattan-Regular', serif;
$secondary-font-light: 'Century-Gothic', serif;
$tertiary-font-light: 'Optima', serif;
$quaternary-font-regular: 'Arial';

$weight-regular: 400;

/* Global */
$module-separation: 1.5rem;

/* Components */
$component-small-text-h-align: 2.7rem;
$component-medium-text-h-align: 4.7rem;
$component-large-text-h-align: 7rem;

$component-small-v-padding: 4.6rem;
$component-medium-v-padding: 4.6rem;
$component-large-v-padding: 9.7rem;

$component-medium-header-max-width: 500px;
$component-large-header-max-width: 640px;

$component-list-margin-bottom: 2rem;

/* Gallery */
$gallery-medium-height: 410px;
$gallery-large-height: 90vh;
$gallery-large-min-height: 720px;

/* Instagram */
$instagram-small-images-height: 375px;
$instagram-grey-background: #ebebeb;

/* Nav */
$nav-small-height: 50px;
$nav-medium-height: 50px;
$nav-large-height: 54px;
