<template >
  <route-error-handler :error="error">
    <main class="post-type-route" slot-scope="ok">
      <slot ok="true"/>
    </main>
  </route-error-handler>
</template>

<script>
import RouteErrorHandler from '../components/RouteErrorHandler'

export default {
  name: 'PostTypeRouteWrap',
  components: { RouteErrorHandler },
  props: {
    error: { type: [Object, Error], required: false, default: null },
  },
}
</script>
