<template>
  <button v-if="cta.type === 'rfp_table' || cta.type === 'rfp_event'"
          :class="cta.type === 'rfp_table' ? 'rfp-table-trigger' : 'rfp-event-trigger'" class="cta">
    {{ cta.text }}
  </button>

  <a v-else :href="href"
     :target="(cta.type !== 'mailto' && cta.type !== 'phone'? cta.target : '')" class="cta">
    {{ cta.text }}
  </a>
</template>
<script>
export default {
  // eslint-disable-next-line vue/require-prop-types
  props: ['cta'],
  computed: {
    href() {
      if (this.cta.type === 'mailto') return `mailto:${this.cta.url}`
      else if (this.cta.type === 'phone') return `tel:${this.cta.phone}`
      return this.cta.url
    },
  },
}
</script>
