<template>
  <section class="hero">

    <swiper-slider ref="mainSlider" :options="mainSliderOpts" :modules="modules" class="hero-slider"
                   @update:swiper="yieldControl">
      <template v-for="(slide, index) in slides">
        <swiper-slide :key="index" :style="'background-image: url(' + slide.image + ')'" class="hero-slide"/>

        <!--<swiper-slide :key="index" class="hero-slide">-->
          <!--<base-image :srcset="picture.img.srcset" :sizes="picture.img.sizes"-->
          <!--src=""-->
          <!--:sources="picture.sources" alt=""/>-->
          <!--<MediaObject :object="settings.web_logo"-->
                       <!--:when-image="{ sizesHint: '100vw 100vh' }"/>-->
        <!--</swiper-slide>-->
      </template>
    </swiper-slider>

    <swiper-slider ref="descriptionSlider" :options="descriptionSliderOpts" class="hero-description-slider">
      <swiper-slide v-for="(slide, index) in slides" :key="index"
                    :class="['hero-description-slide', slide.text_color === 'black'? 'slide-text-dark' : '']">
        <div class="hero-description-slide-container">
          <div class="hero-description-slide-background-gradient"/>
          <div class="hero-caption">
            <h3 class="hero-title" v-html="slide.title"/>
            <cta v-if="slide.has_cta && !has_overlay_logo && !has_cta" :cta="slide.cta"
                 class="light-outline show-for-large"/>
          </div>

          <template v-if="slide.show_logo">
            <router-link to="/">
              <MediaObject :object="settings.web_logo"
                           :when-image="{ sizesHint: '(min-width: 600px) 15vw, 100vw' }"
                           :when-video="{ autoplay: true, loop: true }"
                           class="hero-logo"
              />
            </router-link>
            <div class="hero-mobile-logo">
              <!--<MediaObject :object="settings.web_logo"-->
              <!--:when-image="{ sizesHint: '(min-width: 640px) 50vw 1000/1064 , 50vw 1000/1403' }"/>-->
            </div>
          </template>
        </div>
      </swiper-slide>
    </swiper-slider>

    <img v-if="has_overlay_logo" :src="overlay_logo" class="overlay-logo">

    <div v-if="has_cta" class="cta-content">
      <cta :cta="cta" :class="cta_style === 'pink'? 'color-contrast' : 'light-outline'"/>
    </div>

    <a v-if="!has_cta" href="#" class="cta color-contrast hero-mobile-cta hide-for-large cta-open-booking-mobile">Book
      now</a>
  </section>
</template>

<script>
import NoSsr from 'vue-no-ssr'
import { mapGetters } from 'vuex'
import { Controller } from 'swiper'
import { settings } from '@core/settings/settings'
import MediaObject from '@core/components/media/MediaObject'
import SwiperSlider from '@core/components/SwiperSlider'
import SwiperSlide from '@core/components/SwiperSlide'
import BaseImage from '@core/components/media/BaseImage'
import sizesToPicture from '@core/components/media/sizesToPicture'
import Cta from './Cta'

export default {
  components: { SwiperSlider, SwiperSlide, MediaObject, Cta, NoSsr, BaseImage },

  // eslint-disable-next-line vue/require-prop-types
  props: [
    'slides',
    'has_overlay_logo',
    'overlay_logo',
    'has_cta',
    'cta',
    'text',
    'url',
    'mail',
    'target',
    'phone',
    'cta_style',
    'show_in_secondary_nav',
    'secondary_nav_title',
  ],

  data: () => ({
    mainSliderOpts: {
      loop: true,
    },
    descriptionSliderOpts: {
      loop: true,
    },
  }),

  computed: {
    ...mapGetters({ settings }),
    picture() {
      const srcs = [
        { arValue: 9 / 16, arString: '9/16', srcset: ['http://via.placeholder.com/900x1600 900w'] },
        { arValue: 3 / 4, arString: '3/4', srcset: ['http://via.placeholder.com/300x400 300w'] },
        { arValue: 1, arString: '1/1', srcset: ['http://via.placeholder.com/100x100 100w'] },
        { arValue: 4 / 3, arString: '4/3', srcset: ['http://via.placeholder.com/400x300 400w'] },
        {
          arValue: 16 / 9,
          arString: '16/9',
          srcset: ['http://via.placeholder.com/1600x900 1600w'],
        },
      ]

      return sizesToPicture('100vw 100vh', srcs)
    },
  },

  created() {
    this.modules = Controller
  },

  methods: {
    yieldControl(swiper) {
      this.$refs.descriptionSlider.control(swiper)
    },
  },
}
</script>

<style>
@import '~swiper/dist/css/swiper.css';
</style>
