<template>
  <section :class="background_color === 'white' ? 'single-text-white' : ''"
           :style="'background-image: url(' + (background_has_image ? background_image['sizes']['rectangle-h-lg'] : '') + ')'"
           class="single-text">
    <div class="single-text-inner">
      <h2 class="st-title cachet-title"> {{ title }} </h2>
      <div class="st-content cachet-content" v-html="body"/>
      <p v-if="has_best_rate">
        <button class="cachet-highlight booking-modal-trigger">
          Best rate
        </button>
      </p>
      <cta v-if="has_cta" :cta="cta" :class="background_color === 'white' ? 'dark-outline' :
      'light-outline'"/>
    </div>
  </section>

</template>
<script>
import Cta from './Cta'

export default {
  components: { Cta },

  // eslint-disable-next-line
  props: [
    'title',
    'body',
    'has_cta',
    'cta',
    'has_best_rate',
    'background_color',
    'background_has_image',
    'background_image',
    'show_in_secondary_nav',
    'secondary_nav_title',
  ],
}
</script>
