<template>
  <section class="tri-content">
    <div class="row collapse">
      <header class="tri-header columns small-12">
        <h2 class="tri-title">{{ title }}</h2>
        <p class="tri-body" v-html="body"/>
        <p v-if="has_cta" class="tri-cta">
          <cta cta="cta" class="light-outline"/>
        </p>
      </header>
      <div class="tri-blocks columns small-12">
        <div class="tri-blocks-slider">
          <template v-if="is_custom_content">
            <router-link v-for="(block, index) in blocks" :key="index" :to="loc(block.link_url)"
                         :target="block.link_target"
                         class="tri-block">
              <div class="tri-block-inner">
                <div :class="g(block, 'alt_image.sizes.rectangle-v-lg') ? 'has-alt-image' : ''"
                     class="image-container">
                  <div
                    :style="'background-image: url(' + g(block, 'main_image.sizes.rectangle-v-lg') + ')'"
                    class="image main-image"/>

                  <div v-if="g(block, 'alt_image.sizes.rectangle-v-lg')"
                       :style="'background-image: url(' + g(block, 'alt_image.sizes.rectangle-v-lg') + ')'"
                       class="image alt-image"/>
                </div>
                <div class="block-body">
                  <h3 class="block-title">{{ block.title }}</h3>
                  <p class="block-subtitle" v-html="block.subtitle"/>
                </div>
              </div>
            </router-link>
          </template>

          <template v-else>
            <router-link v-for="(row, index) in posts" :key="index" :to="'/pages/' + row.post.slug" class="tri-block">
              NOT IMPLEMENTED
              <!--<div class="tri-block-inner">-->
              <!--@php $alt_image = get_field('alt_image', $row['post']->ID) @endphp-->
              <!--<div class="image-container {{ isset($alt_image)? 'has-alt-image' : '' }}">-->
              <!--<div class="image main-image"-->
              <!--style="background-image: url('{{ get_post_image($row['post']->ID,'rectangle-v-lg') }}')"></div>-->
              <!--@isset($alt_image)-->
              <!--<div class="image alt-image"-->
              <!--style="background-image: url('{{ $alt_image }}')"></div>-->
              <!--@endisset-->
              <!--</div>-->
              <!--<div class="block-body">-->
              <!--<h3 class="block-title">{{ $row['post']->post_title }}</h3>-->
              <!--<p class="block-subtitle">{!! $row['post']->subtitle !!}</p>-->
              <!--</div>-->
              <!--</div>-->
            </router-link>
          </template>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Url from '@core/util/url'
import get from 'lodash-es/get'
import Cta from './Cta'

export default {
  components: { Cta },

  // eslint-disable-next-line vue/require-prop-types
  props: [
    'title',
    'body',
    'has_cta',
    'cta',
    'is_custom_content',
    'blocks',
    'posts',
    'show_in_secondary_nav',
    'secondary_nav_title',
    'alt_image',
  ],

  methods: { g: (a, b) => get(a, b), loc: url => new Url(url).pathname },
}
</script>
