<template functional>
  <video :src="props.src">
    <source v-for="source in props.sources" :key="source.src" :src="source.src" :type="source.type">
  </video>
</template>

<script>
export default {
  name: 'BaseVideo',
  props: {
    src: { type: String, required: false, default: null },
    sources: { type: Array, required: false, default: () => [] },
  },
}
</script>
