<template>
  <picture>
    <source v-for="source in sources" :key="source.media" :media="source.media" :srcset="source.srcset"
            :sizes="source.sizes">

    <img :alt="alt" :srcset="srcset" :src="src" :sizes="sizes"
         :width="width" :height="height">
  </picture>
</template>

<script>
export default {
  name: 'BaseImage',
  props: {
    alt: { type: String, required: true },
    src: { type: String, required: true },
    srcset: { type: String, required: true },
    width: { type: [Number, String], default: null },
    height: { type: [Number, String], default: null },
    sizes: { type: [String], default: null },
    sources: { type: Array, default: null },
  },
}
</script>
