<template>
  <wp-image v-if="!cloudinarySrcset || cloudinarySrcset.length === 0" v-bind="$props"/>

  <base-image v-else :alt="parsed.alt" :width="parsed.width" :height="parsed.height"
              :srcset="picture.img.srcset" :sizes="picture.img.sizes" :sources="picture.sources" :src="url"
  />
</template>

<script>
import BaseImage from './BaseImage'
import WpImage from './WpImage'
import parseWpImg from './parse-wp-img'
import sizesToPicture from './sizesToPicture'

export default {
  name: 'CloudinaryImage',
  components: { BaseImage, WpImage },
  props: {
    ...WpImage.props,
    cloudinary: { type: Object, default: null },
  },
  computed: {
    parsed() {
      return parseWpImg(this.$props)
    },
    cloudinarySrcset() {
      return (
        this.cloudinary &&
        this.cloudinary.sizes
          .map(size => {
            const ar = /ar_(\d+):(\d+)/.exec(size.transformation)
            return {
              srcset: size.breakpoints.map(({ secure_url, width }) => `${secure_url} ${width}w`),
              arValue: ar && Number.parseInt(ar[1], 10) / Number.parseInt(ar[2], 10),
              arString: ar && `${ar[1]}/${ar[2]}`,
            }
          })
          .filter(size => size.arValue > 0)
      )
    },
    picture() {
      return sizesToPicture(this.sizesHint, this.cloudinarySrcset)
    },
  },
}
</script>
