<template>
  <base-image v-bind="parsed" :sizes="sizesHint"/>
</template>

<script>
import BaseImage from './BaseImage'
import parseWpImg from './parse-wp-img'

export default {
  name: 'WpImage',
  components: { BaseImage },
  props: {
    url: { type: String, required: true },
    sizes: { type: Object, default: null },
    sizesHint: { type: [String, Object], default: null },
    title: { type: String, default: null },
    filename: { type: String, default: null },
    alt: { type: String, default: null },
    author: { type: String, default: null },
    description: { type: String, default: null },
    caption: { type: String, default: null },
    name: { type: String, default: null },
    date: { type: String, default: null },
    modified: { type: String, default: null },
    mime_type: { type: String, default: null },
    type: { type: String, default: null },
    icon: { type: String, default: null },
    width: { type: [String, Number], default: null },
    height: { type: [String, Number], default: null },
  },
  computed: {
    parsed() {
      return parseWpImg(this.$props)
    },
  },
}
</script>
