<template>
  <base-video :src="url" :width="width" :height="height" :sources="sources"/>
</template>

<script>
import BaseVideo from './BaseVideo'

export default {
  name: 'WpVideo',
  components: { BaseVideo },
  props: {
    url: { type: String, required: true },
    sources: { type: Array, required: false, default: null },
    title: { type: String, required: false, default: null },
    filename: { type: String, required: false, default: null },
    alt: { type: String, required: false, default: null },
    author: { type: String, required: false, default: null },
    description: { type: String, required: false, default: null },
    caption: { type: String, required: false, default: null },
    name: { type: String, required: false, default: null },
    date: { type: String, required: false, default: null },
    modified: { type: String, required: false, default: null },
    mime_type: { type: String, required: false, default: null },
    type: { type: String, required: false, default: null },
    icon: { type: String, required: false, default: null },
    width: { type: [String, Number], required: false, default: null },
    height: { type: [String, Number], required: false, default: null },
  },
}
</script>
