<template>
  <post-type-route-wrap :error="error" class="event-route">
    <template slot-scope="ok">
      This is an event {{ event.title.rendered }}
    </template>
  </post-type-route-wrap>
</template>

<script>
import makePostTypeRouteMixin from '@core/post-types/post-type-route-mixin'
import routeEntry from '@core/router/route-entry-mixin'
import PostTypeRouteWrap from '@core/post-types/PostTypeRouteWrap'
import {
  eventErrorBySlug,
  eventErrorInCurrentRoute,
  eventInCurrentRoute,
  requestEventBySlug,
} from './events'

export default {
  name: 'EventRoute',
  components: { PostTypeRouteWrap },
  mixins: [
    routeEntry,
    makePostTypeRouteMixin({
      name: 'event',
      postTypeErrorBySlug: eventErrorBySlug,
      postTypeErrorInCurrentRoute: eventErrorInCurrentRoute,
      postTypeInCurrentRoute: eventInCurrentRoute,
      requestPostTypeBySlug: requestEventBySlug,
    }),
  ],
}
</script>
