<template>
  <slider>
    <slide v-for="(slide, index) in slides" :key="index" class="slide">
      <component-renderer :components="slide.components"/>
    </slide>
  </slider>
</template>

<script>
import ComponentRenderer from '../core/components/ComponentRenderer'
import Slide from './Slide'
import Slider from './Slider'

export default {
  components: {
    ComponentRenderer,
    Slider,
    Slide,
  },
  props: { slides: { type: Array, required: true } },
}
</script>
