<template>
  <post-type-route-wrap :error="error" class="page-route">
    <template slot-scope="ok">
      <component-renderer :prefix="page.id" :components="page.acf.flexible_content"/>
    </template>
  </post-type-route-wrap>
</template>

<script>
import routeEntry from '@core/router/route-entry-mixin'
import ComponentRenderer from '../components/ComponentRenderer'
import RouteErrorHandler from '../components/RouteErrorHandler'
import pageRoute from './page-route-mixin'
import PostTypeRouteWrap from '../post-types/PostTypeRouteWrap'

export default {
  name: 'PageRoute',
  components: { RouteErrorHandler, ComponentRenderer, PostTypeRouteWrap },
  mixins: [routeEntry, pageRoute],
}
</script>
