.amenities {
  $amenity-margin-bottom: 2rem;

  background-color: $grey;
  color: $white;
  padding: $component-small-v-padding $component-small-text-h-align
    ($component-small-v-padding - $amenity-margin-bottom);

  .amenities-title {
    @include responsive-title();
    margin-bottom: 5rem;
    max-width: $component-large-header-max-width;
  }

  .amenities-list {
    list-style: none;
    display: flex !important;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .amenity {
    margin-bottom: $amenity-margin-bottom;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-light;
    display: block;
    font-family: $secondary-font-light;
  }

  @include breakpoint(medium) {
    padding: $component-medium-v-padding $component-large-text-h-align
      ($component-medium-v-padding - $amenity-margin-bottom);

    .amenities-list {
      text-align: left;
    }
  }

  @include breakpoint(large) {
    $amenity-margin-bottom: 3rem;
    padding: $component-large-v-padding $component-large-text-h-align
      ($component-large-v-padding - $amenity-margin-bottom);

    .amenities-title {
      margin-bottom: 10rem;
    }

    .amenity {
      margin-bottom: $amenity-margin-bottom;
    }
  }
}
