.desktop-booking-widget {
  width: 160px;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-family: $secondary-font-light;

  .widget-body {
    top: -83px;
    width: 160px;
    position: absolute;
    transform: translateY(-120%);
    transition: all 1500ms ease-out;
    min-height: 650px;
    height: 100vh;
    max-height: 800px;

    &.show {
      transform: translateY(83px) !important;

      .widget-body-cta {
        min-height: 80px !important;
        height: 18% !important;

        .cta {
          height: 100% !important;
        }
      }
    }
  }

  .booking-best-rate {
    background-color: $pink;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      color: $black;
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: normal;
      //padding: 2.5rem 1rem;
      min-height: 70px;
      height: 100%;
      text-transform: none;
      letter-spacing: 0.88px;
    }
  }

  .booking-square-date {
    background-color: $black;
    min-height: 144px;
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    color: $white;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $gray-medium;

    //@include breakpoint(medium only){
    //  min-height: 100px;
    //  height: 160px;
    //}

    &.floated-content {
      padding: 0;
      opacity: 0;
      right: 160px;
      position: absolute;
      visibility: hidden;
      transition: all 300ms ease;

      &.show {
        opacity: 1;
        visibility: visible;
        transition: all 300ms ease;
      }

      .separator {
        height: 1px;
        border-bottom: 1px solid $gray-medium;
      }
    }

    &.overlay-content {
      z-index: 2;
      opacity: 0;
      width: 160px;
      //height: 320px;
      min-height: 288px;
      height: 48%;
      position: absolute;
      visibility: hidden;
      transition: all 300ms ease;
      border-left: 1px solid $gray-medium;

      &.show {
        opacity: 1;
        visibility: visible;
        transition: all 300ms ease;
      }

      .full-height {
        height: 100%;
      }
    }

    & input {
      color: $white;
    }

    & input[type='number'] {
      padding: 0;
      margin: 0;
      border: none;
      color: $white;
      box-shadow: none;
      text-align: center;
      -moz-appearance: textfield;
      background-color: transparent;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    .medium-height {
      height: 90%;
    }

    .booking-title {
      text-indent: 3px;
      font-size: 1.2rem;
      line-height: 1.5rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: $secondary-font-light;
    }

    .booking-content {
      text-indent: 8px;
      font-size: 3.6rem;
      line-height: 4.7rem;
      letter-spacing: 8px;
      text-transform: uppercase;
      font-family: $primary-font-regular;

      &.small {
        text-indent: 3px;
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: 3px;
      }
    }

    .mb-md {
      margin-bottom: 2.5rem;
    }

    .mb-sm {
      margin-bottom: 1rem;
    }

    .booking-arrow-down {
      width: 40px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 2;
    }

    &:last-of-type {
      border: none;
    }
  }

  .booking-square-guests {
    height: 16%;
    min-height: 120px;

    //@include breakpoint(medium only){
    //  min-height: 100px;
    //  height: 160px;
    //}
  }

  .booking-square-mini {
    background-color: $black;
    min-height: 50px;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
    color: $white;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $gray-medium;

    //@include breakpoint(medium only){
    //  height: 57px;
    //  padding: 5px;
    //}

    & input {
      //margin: 0.5rem 0 0;
      margin: 0;
      padding: 0;
      border: none;
      color: $white;
      box-shadow: none;
      text-indent: 3px;
      font-size: 1.2rem;
      text-align: center;
      line-height: 1.5rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      background-color: transparent;
      font-family: $secondary-font-light;
    }

    &:last-of-type {
      border: none;
    }
  }

  .booking-square-info {
    margin: 0;
  }

  .widget-body-cta {
    //margin-top: 10px;

    .cta {
      //height: 20%;
      width: 100%;
      padding: 20px;
      cursor: pointer;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: inherit;
      font-size: 1.3rem;
    }
  }

  .datepicker {
    margin: 0;
    height: auto;
    border: none;
    outline: none;
    background: transparent;
  }

  .incrementer {
    top: 48%;
    right: 18%;
    width: 24px;
    height: 12px;
    position: absolute;
    background: transparent url('#{$asset-path}images/triangle.svg') center center / 10px 10px
      no-repeat;

    &.inc {
      //transform: translateY(-50%) translateY(-1rem);
    }

    &.dec {
      transform: translateY(100%) translateY(1rem) rotate(180deg);
    }
  }
}

.mobile-booking-widget {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  visibility: hidden;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  transform: translateY(-120%);
  box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.21);

  @include breakpoint(medium) {
    right: 0;
    left: unset;
    width: 240px;
    min-width: 200px;

    @include breakpoint(landscape) {
      height: 100%;
      width: 100%;

      #mobile-close-booking {
        display: block !important;
      }
    }
  }

  //@include breakpoint(small only){
  //  height: 600px;
  //}

  #mobile-close-booking {
    top: 1.5rem;
    left: 1.5rem;
    width: 2.4rem;
    height: 1.6rem;
    display: block;
    position: absolute;
    background: url($image-path+'close_menu_alt.png') no-repeat;
  }

  .hidden-datepicker {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    visibility: hidden;
  }

  .booking-mobile-top {
    text-align: center;
    //margin: 1.5rem 2.5rem 2.5rem;
    background-color: $pink;

    .text-content {
      font-size: 1.4rem;
      line-height: 2.2rem;
      letter-spacing: 2px;
      font-family: $secondary-font-light;
    }

    .booking-modal-trigger {
      padding: 2.7rem 2.5rem 2.5rem;
    }
  }

  .booking-mobile-content {
    .booking-square-date {
      width: 100%;
      color: $white;
      height: 120px;
      min-height: 100px;
      position: relative;
      text-align: center;
      padding: 1.8rem 1rem;
      background-color: $black;
      border-bottom: 1px solid $gray-medium;

      @include breakpoint(medium) {
        height: 220px;
        min-height: 200px;

        &.medium-height {
          height: 160px;
          min-height: 160px;
        }

        @include breakpoint(landscape) {
          height: 180px;
          min-height: 180px;
        }
      }

      & input {
        color: $white;
      }

      & input[type='number'] {
        padding: 0;
        border: none;
        color: $white;
        box-shadow: none;
        text-align: center;
        -moz-appearance: textfield;
        background-color: transparent;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }

      .booking-title {
        font-size: 1rem;
        text-indent: 2px;
        line-height: 1.2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: $secondary-font-light;

        @include breakpoint(medium) {
          font-size: 1.4rem;
          text-indent: 2.8px;
          line-height: 1.7rem;
          letter-spacing: 2.8px;
        }
      }

      .booking-content {
        font-size: 3rem;
        text-indent: 10px;
        line-height: 4rem;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-family: $primary-font-regular;

        @include breakpoint(medium) {
          font-size: 3.6rem;
          text-indent: 12px;
          line-height: 4.7rem;
          letter-spacing: 12px;
        }

        &.small {
          text-indent: 2px;
          font-size: 1.1rem;
          line-height: 1.4rem;
          letter-spacing: 2px;

          @include breakpoint(medium) {
            font-size: 1.4rem;
            line-height: 1.8rem;
            text-indent: 2.55px;
            letter-spacing: 2.55px;
          }
        }
      }

      .mb-md {
        margin-bottom: 1.2rem;

        @include breakpoint(medium) {
          margin-bottom: 3.2rem;
        }
      }

      .mb-sm {
        margin-bottom: 1rem;

        @include breakpoint(medium) {
          margin-bottom: 3rem;
        }
      }

      .booking-arrow-down {
        left: 50%;
        bottom: 0;
        z-index: 2;
        width: 40px;
        position: absolute;
        transform: translate(-50%, 50%);
      }

      &:last-of-type {
        border: none;
      }
    }

    .booking-square-mini {
      width: 100%;
      height: 75px;
      padding: 5px;
      color: $white;
      position: relative;
      text-align: center;
      background-color: $black;
      border-bottom: 1px solid $gray-medium;

      @include breakpoint(medium) {
        height: 150px;
        min-height: 150px;

        @include breakpoint(landscape) {
          height: 90px;
          min-height: 90px;
        }
      }

      & input {
        border: none;
        color: $white;
        font-size: 1rem;
        margin: 1rem 0 0;
        box-shadow: none;
        text-indent: 2px;
        text-align: center;
        line-height: 1.2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: transparent;
        font-family: $secondary-font-light;

        @include breakpoint(medium) {
          margin-top: 4rem;
          font-size: 1.4rem;
          line-height: 1.7rem;
          letter-spacing: 2.8px;

          @include breakpoint(landscape) {
            margin-top: 2rem;
          }
        }
      }

      &:last-of-type {
        border: none;
      }
    }

    .booking-body-cta {
      width: 100%;
      text-align: center;

      .cta {
        width: 100%;
        cursor: pointer;
        text-indent: 2px;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.7rem;
        letter-spacing: 2px;
        padding: 2.5rem 8rem;
        text-transform: uppercase;
        font-family: $secondary-font-light;

        @include breakpoint(medium) {
          padding: 3.5rem;
        }
      }
    }
  }

  .booking-mobile-overlay {
    height: 100%;
    background-color: $black-alpha;
  }

  &.show {
    z-index: 6;
    visibility: visible;
    transform: translateY(0);
    transition: all 500ms ease;
  }

  .incrementer {
    top: 49%;
    right: 38%;
    width: 20px;
    height: 10px;
    position: absolute;
    background: transparent url('#{$asset-path}images/triangle.svg') center center / 10px 10px
      no-repeat;

    @include breakpoint(medium) {
      top: 52%;
      right: 28%;
      width: 24px;
      height: 12px;
      background-size: 12px 12px;
    }

    &.inc {
      transform: translateY(-50%) translateY(-1.2rem);

      @include breakpoint(medium) {
        transform: translateY(-50%) translateY(-1.4rem);
      }
    }

    &.dec {
      transform: translateY(-50%) translateY(1.2rem) rotate(180deg);

      @include breakpoint(medium) {
        transform: translateY(-50%) translateY(1.4rem) rotate(180deg);
      }
    }
  }
}
