.collage {
  overflow: hidden;

  .collage-item {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 20%);
    }
  }

  .collage-item-inner {
    position: absolute;
    bottom: $component-small-text-h-align / 2;
    left: $component-small-text-h-align;
    font-family: $secondary-font-light;
    font-size: 0.8rem;
    color: $white;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .collage-label {
    font-size: inherit;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
  }

  .collage-description {
    display: none;
    margin: 0;
    line-height: 1.2;
  }

  .collage-items-1 {
    .collage-item::after {
      padding-bottom: 65%;
    }
  }

  .collage-items-2,
  .collage-items-3 {
    .collage-item::after {
      padding-bottom: 140.38%;
    }
  }

  @include breakpoint(small down) {
    .collage-items-3 {
      .collage-item {
        @include flex-grid-size(6);
      }

      .collage-item:last-child {
        @include flex-grid-size(12);
      }
    }
  }

  @include breakpoint(medium) {
    .collage-item-inner {
      font-size: 1.6rem;
      letter-spacing: 1px;
    }

    .collage-items-1 {
      .collage-item::after {
        padding-bottom: 53.21%;
      }
    }

    .collage-items-2,
    .collage-items-3 {
      .collage-item::after {
        padding-bottom: 106.4%;
      }
    }

    .collage-items-3 {
      .collage-item {
        @include flex-grid-size(4);
      }
    }
  }

  @include breakpoint(large) {
    .collage-item-inner {
      max-width: 360px;
      left: 3rem;
      bottom: 3rem;
    }

    .collage-label {
      margin-bottom: 2rem;
    }

    .collage-description {
      display: block;
    }
  }
}
