.contacts {
  text-align: center;
  background-color: $grey;
  padding: $component-small-v-padding $component-small-text-h-align;

  @include breakpoint(medium) {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  @include breakpoint(large) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .logo {
    width: 18rem;
    margin-bottom: 4rem;
  }

  .contact {
    color: $white;
    margin-bottom: 4rem;

    @include breakpoint(small only) {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(medium only) {
      @include breakpoint(landscape) {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }

    h1 {
      line-height: 2;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      font-family: $secondary-font-light;
    }

    p {
      margin-bottom: 0;
      line-height: 1.9;
      font-size: 1.4rem;
      letter-spacing: 0.088rem;
      font-family: $secondary-font-light;
    }

    @include breakpoint(large) {
      h1 {
        font-size: 2.2rem;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }
}
