.gallery {
  overflow: hidden;
  background-size: 640px;
  background-image: url($image-path+'hexagon_pattern.png');
  //max-height: 730px;

  .slide-image {
    position: relative;
    padding-bottom: 83.5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .slick-gallery-controls {
    position: absolute;
    display: flex;
    color: white;
    width: 100%;
    bottom: 0;
    align-items: flex-end;
    justify-content: center;
    font-family: $secondary-font-light;
    font-size: 1.6rem;
    letter-spacing: 2px;
    height: 100px;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    line-height: 30px;
  }

  .slick-arrow {
    color: white;
    transform: none;
    position: static;
    width: 50px;
    height: 30px;
    text-indent: -9999px;
    background: transparent url('#{$asset-path}images/left_arrow_white.png') center center / 30px
      10px no-repeat;

    &::before {
      display: none;
    }
  }

  .slick-next {
    transform: rotate(180deg);
  }

  @include breakpoint(medium) {
    .slide-image {
      padding-bottom: 53.4%;
    }

    .slick-arrow {
      @include slider-arrow-text();
      text-indent: 0;
      line-height: inherit;
    }

    .slick-gallery-controls {
      line-height: inherit;
      padding-bottom: calc(1.75% - 8px);
    }

    .slick-counter {
      line-height: 30px;
    }
  }
}
