.general-content {
  margin: $nav-large-height * 2 0;

  h2 {
    font-size: 4rem;

    @include breakpoint(small only) {
      font-size: 3rem;
    }
  }

  .general-content-body p {
    @include breakpoint(small only) {
      font-size: 1.5rem;
      line-height: 1.3;
      word-wrap: break-word;
    }
  }
}
