.hero-small {
  background-color: $grey;

  .hero-slider {
    .hero-slide {
      height: 60vh;
      min-height: 420px;
      box-shadow: 120px 20px 180px 0 $black inset, -120px 20px 180px 0 $black inset;

      @include breakpoint(medium down) {
        height: 60vh;
        box-shadow: 80px 10px 150px 0 $black inset, -80px 10px 150px 0 $black inset;

        @include breakpoint(landscape) {
          min-height: 100px;
        }
      }
    }

    &.hidden {
      .hero-slide {
        height: 90vh;
        min-height: 420px;

        @include breakpoint(medium down) {
          height: 85vh;

          @include breakpoint(landscape) {
            height: 85vh;
            min-width: 100px;
          }
        }
      }
    }
  }

  .info-box {
    width: 85vw;
    z-index: 2;
    padding: 4rem 3rem;
    position: relative;
    text-align: center;
    margin: -20vh auto 0;
    background-color: $grey;

    @include breakpoint(large) {
      width: 50vw;
      padding: 7rem 6rem;
    }

    .cachet-logo {
      margin-bottom: 1.2rem;

      img {
        width: 20rem;
      }
    }

    &.hidden {
      position: unset;
      height: 25vh;
    }
  }

  .hs-content {
    color: $white;
    margin-top: 1.5rem;
  }

  .more-btn {
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
  }
}
