.hero {
  overflow: hidden;
  position: relative;

  .cta-content {
    left: 50%;
    z-index: 1;
    bottom: 23vh;
    position: absolute;
    transform: translateX(-50%);

    @include breakpoint(medium) {
      bottom: 24vh;
    }

    @include breakpoint(large) {
      bottom: 16vh;
    }
  }

  .overlay-logo {
    top: 50%;
    left: 50%;
    z-index: 1;
    width: auto;
    max-height: 50vw;
    position: absolute;
    object-fit: contain;
    object-position: center center;
    transform: translate(-50%, -50%);
    font-family: 'object-fit: contain; object-position: center center';

    @include breakpoint(medium) {
      max-height: 18vw;
    }

    @include breakpoint(landscape) {
      max-height: 16vw;
    }
  }

  .hero-description-slide-container {
    .hero-logo {
      opacity: 1;

      @include breakpoint(medium down) {
        opacity: 0;
      }
    }
  }

  &.is-scrolled {
    .hero-description-slide-container {
      .hero-logo {
        opacity: 0;
      }
    }
  }

  .slick-slider {
    @include breakpoint(medium down) {
      background: linear-gradient(
        to bottom,
        rgba($black, 0.85) 0%,
        rgba($black, 0.15) 44%,
        rgba($black, 0.15) 56%,
        rgba($black, 0.85) 100%
      );
    }

    @include breakpoint(large up) {
      height: 100%;
    }

    .slick-list {
      height: 100%;
    }
    .slick-track {
      height: 100%;
    }
  }

  .slick-dots {
    bottom: 30px;

    @include breakpoint(medium down) {
      li {
        display: none;
      }
    }
  }

  .slick-arrow {
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
  }

  .slick-slide {
    outline: none;
  }

  .slick-dots {
    margin: 0;
    max-width: 100% !important;
    @include flex-grid-row(collapse);

    position: absolute;
    left: 50%;

    line-height: 1;
    list-style: none;
    text-align: left;

    transform: translateX(-50%);

    li {
      @include slider-dot($white);
    }

    @include breakpoint(large) {
      padding-left: $component-large-text-h-align / 2;
    }

    @include breakpoint(1270px) {
      padding-left: $component-large-text-h-align;
    }
  }

  .hero-description-slider {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;

    @include breakpoint(medium down) {
      left: inherit;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
    }

    .hero-description-slide {
      width: 100%;
      height: 100%;
      padding-top: 100px;

      display: flex;
      align-items: center;
      align-content: center;

      @include breakpoint(medium down) {
        text-align: center;

        align-items: flex-end;
        align-content: flex-end;
        padding-top: 0;
        padding-bottom: 20rem;

        @include breakpoint(medium only) {
          @include breakpoint(landscape) {
            padding-bottom: 10rem;
          }
        }
      }

      .hero-description-slide-container {
        width: 100%;
        padding-left: $component-small-text-h-align;
        padding-right: $component-small-text-h-align;

        @include breakpoint(medium) {
          padding-left: 0;
          padding-right: 0;
          margin: 0 auto;
          max-width: $component-medium-header-max-width;
        }

        @include breakpoint(large) {
          @include flex-grid-row();
          padding-left: $component-large-text-h-align / 2;
        }

        @include breakpoint(1270px) {
          padding-left: 0;
          margin-left: $component-large-text-h-align;
        }

        .hero-description-slide-background-gradient {
          @include breakpoint(medium up) {
            background: linear-gradient(
              to bottom,
              rgba($black, 0.9) 0%,
              rgba($black, 0.16) 44%,
              rgba($black, 0.16) 56%,
              rgba($black, 0.9) 100%
            );
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          @include breakpoint(large up) {
            &:before {
              display: block;
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background: linear-gradient(to right, rgba($black, 1) 0%, rgba($black, 0) 40%);
            }
          }
        }

        .hero-caption {
          position: relative;
          color: white;
          text-align: left;

          @include breakpoint(large) {
            @include flex-grid-column(6, 0);
          }

          @include breakpoint(xlarge) {
            @include flex-grid-column(7, 0);
          }

          @include breakpoint(medium down) {
            margin: 0 auto;
            text-align: center;
          }

          .cta {
            margin-top: 20px;
          }

          .hero-title {
            font-size: 3.6rem;
            line-height: 4.7rem;
            margin-bottom: 15px;
            letter-spacing: 0.4rem;
            text-transform: uppercase;
            font-family: $primary-font-regular;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.3);

            @include breakpoint(medium down) {
              font-size: 1.8rem;
              line-height: 2.3rem;
              margin-bottom: 0;
              letter-spacing: 0.2rem;
            }
          }
        }

        .hero-logo img {
          top: 20px;
          left: 60px;
          height: 10rem;
          position: absolute;
          width: auto;
        }
      }

      &.slide-text-dark {
        .hero-caption {
          color: $black;

          .hero-title {
            text-shadow: none;
          }
        }
        @include breakpoint(large up) {
          .hero-description-slide-background-gradient {
            background: linear-gradient(
              to bottom,
              rgba($white, 0.15) 0%,
              rgba($white, 0) 44%,
              rgba($white, 0) 56%,
              rgba($white, 0.15) 100%
            );

            &:before {
              background: linear-gradient(to right, rgba($white, 0.3) 0%, rgba($white, 0) 32%);
            }
          }
        }
      }
    }
  }

  .hero-slider {
    .hero-slide {
      height: 96vh;
      min-height: 760px;
      position: relative;
      background-size: cover;
      background-position: center center;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
      }

      @include breakpoint(medium down) {
        padding: 0;
        height: 100vh;
        min-height: inherit;

        @include breakpoint(medium only) {
          @include breakpoint(landscape) {
            height: 100vh;
          }
        }
      }
    }
    .video-background {
      min-height: 0;
    }
  }

  .hero-mobile-cta {
    position: absolute;
    bottom: 12rem;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(medium only) {
      @include breakpoint(landscape) {
        bottom: 3rem;
      }
    }
  }

  .hero-mobile-logo {
    top: 6rem;
    left: 50%;
    z-index: 1;
    width: 25rem;
    display: none;
    margin: 0 auto;
    max-width: 385px;
    position: absolute;
    transform: translateX(-50%);

    img {
      width: auto;
    }

    @include breakpoint(medium down) {
      display: block;
    }

    @include breakpoint(medium only) {
      @include breakpoint(landscape) {
        top: 3rem;
        width: 20rem;
      }
    }
  }

  @include breakpoint(medium only) {
    @include breakpoint(landscape) {
      height: 100vh;
    }
  }
}
