.highlights {
  $contentPadding: 6rem;
  $imageHeight: (7.5 / 10) * 100%;

  background-color: $grey;
  margin: 0 auto;
  padding: $component-small-text-h-align;
  position: relative;

  .highlight-slider {
    background-color: transparent;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $component-small-text-h-align;
    }
  }

  .highlight-slide-content {
    background-color: $grey-lighter;
    font-weight: $weight-regular;
    letter-spacing: 0.1rem;
    padding-top: $component-medium-text-h-align;
    padding-bottom: $component-small-text-h-align;
    text-align: center;
  }

  .highlight-slide-title {
    font-size: 1.6rem;
    font-family: $secondary-font-light;
    text-transform: uppercase;
  }

  .highlight-slide-body {
    font-size: 1.4rem;
    text-transform: none;
    padding-top: 1rem;
    font-family: $secondary-font-light;

    .highlight-slide-ctas {
      display: flex;
      margin: 20px 0;
      flex-direction: column;
      align-items: flex-start;

      @include breakpoint(medium down) {
        align-items: center;
      }

      .cta.dark-outline {
        padding: 12px 10px;

        margin-bottom: 15px;
        @include breakpoint(medium down) {
          margin: 0 0 15px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .highlight-slide-body-subtitle {
    @extend .highlight-slide-title;
    text-transform: none;
    margin-bottom: 1.2rem;
  }

  .highlight-slide-button-outline {
    @include button-outline($grey, $grey-lighter);
    margin-bottom: 2rem;
  }

  .highlight-slide-image {
    background-size: cover;
    padding-top: $imageHeight;
    background-position: center;
    background-repeat: no-repeat;
  }

  .slick-dots {
    //height: 0;
    max-width: 100%;
    margin-bottom: 1.5rem !important; // important because IE is weird
    padding-top: calc(#{$imageHeight} + 1rem);
    text-align: center;
    @include breakpoint(medium down) {
      top: 0;
    }

    li {
      @include slider-dot($black);
    }
  }

  @include breakpoint(large) {
    padding: $component-large-v-padding $component-large-text-h-align;

    .highlight-slider.move-dots-right .slick-dots {
      padding-right: 0;
      text-align: left;
      padding-left: $contentPadding + 0.5rem;
    }

    .highlight-slide-content {
      padding: $contentPadding;
      text-align: left;
      min-height: 470px;
    }

    .highlight-slide-body {
      padding-top: 3rem;

      p {
        padding: initial;
      }
    }

    .highlight-slide-image {
      padding-top: (4.2 / 10) * 100%;
    }

    .slick-dots {
      padding-right: $contentPadding; // + columns large default padding
      text-align: right;
      height: initial;
      padding-top: 0;
      top: initial;
    }
  }
}
