.instagram {
  padding: 3.25em 0;
  background: $instagram-grey-background;

  @include breakpoint(small only) {
    padding: 2.5em 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(small only) {
      padding: 28px;
    }
  }

  .component-title {
    font: 2.2rem $secondary-font-light;
    margin: 0.5em 0;
    line-height: 2.7rem;
    padding-bottom: 2em;
    letter-spacing: 0.2rem;

    a {
      color: inherit;
    }

    @include breakpoint(small only) {
      font-size: 1.4rem;
      padding-bottom: 0;
      line-height: 1.7rem;
      letter-spacing: 0.2rem;
    }
  }

  .component-subtitle {
    margin-bottom: 0;
    font-size: 0.94em;
    color: black;
  }

  .container {
    max-width: 100%;
  }

  .image {
    a {
      height: 100%;
      width: 100%;
      display: block;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      // hack for object-fit-images
      font-family: 'object-fit: cover';
    }
  }

  @include breakpoint(small only) {
    .image {
      width: percentage(1/2);
      height: auto;
      overflow: hidden;
    }

    .featured-image {
      width: 100%;
      height: auto;
    }

    .copy {
      clear: both;
      padding-top: 3em;
    }
  }

  @include breakpoint(medium) {
    .container-aspect-ratio {
      // This aspect ratio comes from the designs 690/1366
      padding-bottom: 50.51%;
      position: relative;
    }

    .container {
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      align-items: flex-end;
    }

    .item {
      order: 5;

      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(3) {
        order: 3;
      }
    }

    .image {
      width: percentage(1/4);
      height: percentage(1/2);
    }

    .featured-image {
      order: 0;
      width: percentage(3/6);
      height: 100%;
    }
  }

  @include breakpoint(medium only) {
    .component-title {
      font-size: 1.3em;
    }
  }
}
