.local-map {
  background-color: $grey;
  max-height: 865px;

  .cachet-content {
    color: $white;
  }

  .lm-attractions {
    padding: 3.5rem 7.5rem;
    text-align: center;

    @include breakpoint(large) {
      padding: 7.5rem 7.5rem 3.5rem;
      text-align: left;
    }
  }

  .lm-content {
    > p {
      margin: 2rem 0 0;

      @include breakpoint(large) {
        margin: 2rem 0 3.5rem;
      }
    }
  }

  .lm-list {
    text-transform: uppercase;

    li {
      cursor: pointer;
    }

    .item-number {
      font-weight: bold;
      margin-right: 1.5rem;
      padding: 0 0.5rem;
    }
  }

  .lm-infobubble {
    overflow: hidden;

    .infobubble-image {
      width: 215px;
    }
    .infobubble-image-inner {
      padding-bottom: 60%;
      height: 0;
      background-size: cover;
    }

    .cachet-content {
      padding: 1rem;
      color: $grey;

      > p {
        margin: 0;
      }
    }
  }

  .lm-container {
    @include aspect-ratio(16, 9, '.lm-container-map');

    @include breakpoint(large) {
      @include aspect-ratio(1, 1, '.lm-container-map');
      max-height: 865px;
    }
  }

  .lm-attractions-slider {
    margin-top: -3.7rem;

    .columns {
      padding-top: 0.7rem;
    }

    .lm-slide-image {
      @include aspect-ratio(4, 3, '.image-container');
      .image-container {
        background-size: cover;
        box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.75);
      }
    }

    .cachet-content {
      padding: 1.5rem 0 3.5rem;

      > p {
        text-transform: uppercase;
      }
    }
  }
}
