.offers-archive {
  padding-top: $component-small-v-padding;
  padding-bottom: $component-small-v-padding;
  background-color: $grey;

  .offers-archive-title {
    @include responsive-title();
    padding: 0 $component-small-text-h-align;
    text-align: center;
    margin-bottom: 1.3rem;
  }

  .offers-archive-body {
    @include responsive-body($white);
    text-align: center;
    padding: 0 $component-small-text-h-align;
    margin-bottom: 2.3rem;
  }

  .offers-archive-cta {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;

    a {
      font-size: 1.2rem;
    }
  }

  .offers-archive-block {
    padding: 0.6rem 0.8rem;
    display: block;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    width: 50%;

    &:hover {
      visibility: visible;
      pointer-events: inherit;
      opacity: 1;
    }
  }

  .offers-archive-block-inner {
    padding-top: 135.1%;
    position: relative;
  }

  .image-container {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 135.1%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }

  .image {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .block-body {
    margin-top: 2rem;
  }

  .block-title {
    font-family: $secondary-font-light;
    font-size: 1.8rem;
    color: $white;
    letter-spacing: 2px;
    line-height: 23px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    padding: 0 1rem;
  }

  .offers-archive-blocks {
    padding: 0 1rem !important;
  }

  .offers-archive-blocks-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include breakpoint(medium) {
    padding: $component-medium-v-padding $component-medium-text-h-align;

    .offers-archive-blocks {
      padding: 0;
    }

    .offers-archive-header {
      margin: 40px auto;
      max-width: $component-medium-header-max-width;
    }

    .offers-archive-title,
    .offers-archive-body {
      padding-left: 0;
      padding-right: 0;
    }

    .offers-archive-body {
      margin-bottom: 3rem;
    }

    .offers-archive-block {
      width: 33%;
      padding: 0.6rem;
    }

    .block-title {
      margin-bottom: 0.5rem;
      font-family: $primary-font-regular;
    }

    .image {
      &::after {
        content: '';
        display: block;
        width: 100%;
        bottom: 0;
        height: 100px;
        position: absolute;
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      }
    }

    .block-body {
      position: absolute;
      bottom: 1rem;
      z-index: 2;
      width: 100%;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  @include breakpoint(large) {
    padding: $component-large-v-padding $component-large-text-h-align;

    .offers-archive-header {
      max-width: $component-large-header-max-width;
    }

    .offers-archive-body {
      margin-bottom: 3rem;
    }

    .offers-archive-block {
      width: 33%;
    }

    .block-title {
      font-size: 2.2rem;
      margin-bottom: 1rem;
      letter-spacing: 2px;
    }

    .block-subtitle {
      font-size: 1.2rem;
      letter-spacing: 3px;
    }
  }

  //Subscribe
  .oa-subscribe-wrapper {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include breakpoint(small only) {
      padding: 25px 0;
    }

    .oa-subscribe-validations {
      min-height: 49px;
    }

    .oa-subscribe-server-fail,
    .oa-subscribe-validation-fail {
      color: $red;
      font-size: 1.2rem;
      margin: 2.5rem 0 0;
      line-height: 2.4rem;
      letter-spacing: 0.075rem;
      font-family: $secondary-font-light;
    }

    .oa-subscribe-submit-success {
      color: $grey-lighter;
      padding: 0 15px;
      font-size: 1.6rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      font-family: $secondary-font-light;
    }
    a {
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0 40px;
      font-size: 1.6rem;
      color: $white;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      font-family: $secondary-font-light;
    }
    .oa-subscribe-form {
      width: 50%;
      display: flex;
      margin-bottom: 10px;
      border-bottom: 1px solid $grey-light;

      &.has-error {
        input {
          color: $red;
        }
      }

      @include breakpoint(medium down) {
        margin-top: 25px;
        width: 300px;
      }

      input {
        margin: 0;
        height: auto;
        border: none;
        min-width: 0;
        line-height: 1;
        box-shadow: none;
        font-size: 1.6rem;
        color: white;
        text-align: center;
        padding: 35px 0 14px 0;
        letter-spacing: 0.08rem;
        background-color: transparent;
        font-family: $secondary-font-light;

        @include breakpoint(medium down) {
          padding: 10px 20px;
          font-size: 1.4rem;
        }

        &::placeholder {
          color: $white;
          text-transform: none;
          font-family: $secondary-font-light;
        }
        &:focus {
          border: none;
        }
      }
    }
  }
}
