.offers {
  position: relative;
  background-size: 640px;
  background-image: url($image-path+'hexagon_pattern.png');
  padding: $component-small-v-padding $component-small-text-h-align;

  .offers-slider {
    width: 100%;

    .slick-track {
      display: flex;
    }
  }

  .offers-slide {
    height: auto;
    display: flex;
  }

  .offer-slide-inner {
    flex-direction: column;
    min-width: 100%;
  }

  .offer-image {
    flex: 0 0 auto;
    width: 100%;
  }

  .offer-image-inner {
    padding-bottom: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
  }

  .offers-content {
    flex: auto;
    padding: 4.3rem 2.5rem 3.8rem !important;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 50%;
    max-height: 450px;
    overflow-y: auto;
  }

  .offer-type {
    font-family: $secondary-font-light;
    font-size: 0.9rem;
    letter-spacing: 2px;
    //text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }

  .offer-title {
    @include responsive-title($black);
  }

  .offer-body {
    @include responsive-body();
    margin-bottom: 1.6rem;
  }

  .offers-inner {
    position: relative;
  }

  .offer-slider-controls {
    position: absolute;
    top: calc(100vw - #{$component-small-text-h-align + 5.59 / 2});
    left: 2px; //For a weird reason we need this for ios devices
    background-color: $white;
    width: 99%; //For a weird reason we need this for ios devices
    font-family: $secondary-font-light;
    font-size: 1.2rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  .prev,
  .next {
    width: 26px;
    height: 16px;
    background: url($image-path+'left_arrow.png') center center / 17px 6px no-repeat;
    margin: 0 1.4rem;
    cursor: pointer;
    position: relative;
  }

  .next {
    transform: rotate(180deg);
    top: 1px;
  }

  @include breakpoint(large) {
    $controls-margin-top: 2.5rem;
    $controls-height: 1.8rem;

    padding: $component-large-v-padding $component-large-text-h-align
      ($component-large-v-padding - ($controls-margin-top + $controls-height));

    .offers-inner {
      //flex-direction: column;
      align-items: center;
    }

    .offer-slide-inner {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .offers-content {
      padding: 3rem 4rem 2.5rem 7rem !important;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      max-height: none;
      display: block;
    }

    .offer-type {
      font-size: 1.6rem;
      letter-spacing: 3px;
    }

    .offer-body {
      margin-bottom: 2.5rem;
    }

    .offer-slider-controls {
      position: static;
      color: $white;
      font-size: 1.4rem;
      margin-top: $controls-margin-top;
      transform: none;
      line-height: 1.6rem;
      letter-spacing: 0.3rem;
      height: $controls-height;
      background-color: transparent !important; //Don't remove
    }

    .current-slide {
      font-size: 1rem;
      letter-spacing: 3px;

      @include breakpoint(medium up) {
        font-size: 1.2rem;
      }
    }

    .prev,
    .next {
      @include slider-arrow-text();
    }

    .prev::after {
      content: 'PREV';
    }

    .next::after {
      content: 'NEXT';
    }
  }
}
