.press {
  padding: 7rem 0;
  background-color: $grey;
  color: $white;

  .press-inner {
    position: relative;
    padding: 0 4.2rem;
  }

  .press-slide {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
  }

  .press-quote {
    color: $white;
    font-size: 1.8rem;
    line-height: 2.7rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1.7rem;
    text-transform: uppercase;
    font-family: $primary-font-regular;

    @include breakpoint(medium up) {
      font-size: 2.8rem;
      line-height: 4.1rem;
      letter-spacing: 0.3rem;
    }
  }

  cite {
    color: $white;
    font-style: normal;
  }

  .arrow {
    background: transparent url('#{$asset-path}images/left_arrow_white.png') center center / 30px
      10px no-repeat;
    width: 50px;
    height: 30px;
    position: absolute;
    top: 50%;
  }

  .arrow-left {
    left: 0;
    transform: translateY(-50%) translateY(-2rem);
  }

  .arrow-right {
    right: 0;
    transform: translateY(-50%) translateY(-2rem) rotate(180deg);
  }

  @include breakpoint(medium) {
    padding: 10.5rem 0;

    .press-slider-container {
      max-width: $component-medium-header-max-width;
      margin: 0 auto;
    }
  }

  @include breakpoint(large) {
    padding: 15rem 0;

    .press-slider-container {
      max-width: $component-large-header-max-width + 160px;
    }
  }
}
