.rfp-select-content {
  z-index: 1;
  width: 100%;
  display: none;
  max-height: 100px;
  overflow-y: scroll;
  position: absolute;
  background-color: $white;
  border: 1px solid $grey-lighter;
  border-top-width: 0;
  transition: all 500ms ease;

  &.show {
    display: block;
  }

  span {
    width: 100%;
    cursor: pointer;
    text-align: left;
    color: $grey-light;
    display: inline-block;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: $grey-lighter;
    }
  }
}
