.rooms-archive {
  .single-text {
    display: block;
  }

  @include breakpoint(medium) {
    .single-text-inner {
      padding-top: 4rem;
    }

    .rooms-rows {
      margin-top: 4rem;
    }

    .room-wrapper {
      &:focus {
        outline: none;
      }

      &:first-child .room {
        margin-left: 0;
      }

      &:last-child .room {
        margin-right: 0;
      }

      &.ratio- {
        &1 {
          @include aspect-ratio(10, 5, '.room');
        }

        &2 {
          @include aspect-ratio(10, 5.5, '.room');
        }

        &3 {
          @include aspect-ratio(10, 7, '.room');
        }
      }
    }

    + .rooms-archive .single-text {
      padding-top: 0;
    }
  }

  .cachet-highlight {
    color: $white;
    cursor: pointer;
    margin-top: 4.5rem;
    max-width: 80%;
    text-transform: uppercase;
  }

  .rooms-archive-cta {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;

    a {
      font-size: 1.2rem;
    }
  }

  //Subscribe
  .rooms-subscribe-wrapper {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include breakpoint(small only) {
      padding: 25px 0 0;
    }

    .rooms-subscribe-validations {
      min-height: 49px;
    }

    .rooms-subscribe-server-fail,
    .rooms-subscribe-validation-fail {
      color: $red;
      font-size: 1.2rem;
      margin: 2.5rem 0 0;
      line-height: 2.4rem;
      letter-spacing: 0.075rem;
      font-family: $secondary-font-light;
    }

    .rooms-subscribe-submit-success {
      color: $grey-lighter;
      padding: 0 15px;
      font-size: 1.6rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      font-family: $secondary-font-light;
    }
    a {
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0 40px;
      font-size: 1.6rem;
      color: $white;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      font-family: $secondary-font-light;
    }
    .rooms-subscribe-form {
      width: 50%;
      display: flex;
      margin-bottom: 10px;
      border-bottom: 1px solid $grey-light;

      &.has-error {
        input {
          color: $red;
        }
      }

      @include breakpoint(medium down) {
        margin-top: 25px;
        width: 300px;
      }

      input {
        margin: 0;
        height: auto;
        border: none;
        min-width: 0;
        line-height: 1;
        box-shadow: none;
        font-size: 1.6rem;
        color: white;
        text-align: center;
        padding: 35px 0 14px 0;
        letter-spacing: 0.08rem;
        background-color: transparent;
        font-family: $secondary-font-light;

        @include breakpoint(medium down) {
          padding: 10px 20px;
          font-size: 1.4rem;
        }

        &::placeholder {
          color: $white;
          text-transform: none;
          font-family: $secondary-font-light;
        }
        &:focus {
          border: none;
        }
      }
    }
  }

  .rooms-rows-slider {
    padding-top: 5rem;

    .tri-block {
      padding: 0 1.2rem;
      display: block;
      text-align: center;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
    }

    .tri-block-inner {
      padding-top: 100%;
      position: relative;
    }

    .image-container {
      position: absolute;
      top: 0;
      width: 100%;
      padding-top: 100%;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    }

    .image {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .block-body {
      color: #ffffff;
      margin-top: 2.5rem;
      letter-spacing: 2px;

      .block-title {
        font-family: $secondary-font-light;
      }
    }
  }
}
