.single-text {
  background-color: $grey;
  padding: $component-small-v-padding $component-small-text-h-align;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  //min-height: 690px;
  //display: flex;
  ////flex-direction: column;
  //align-items: center;

  .cachet-highlight {
    color: $white;
    text-transform: uppercase;
    margin-top: 3.5rem;
  }

  &-white {
    background-color: $grey-lighter;

    .cachet-title,
    .cachet-content,
    .cachet-highlight {
      color: $black !important;
    }
  }

  .st-title {
    margin-bottom: 1.2rem;
  }

  .cachet-content {
    color: $white;

    > p:last-child {
      margin-bottom: 0;
    }

    .cachet-highlight {
      color: $white;
    }
  }

  .st-content {
    + .cta {
      margin-top: 3rem;
    }
  }

  .cta {
    margin-top: 3.5rem;
  }

  @include breakpoint(medium) {
    padding: $component-medium-v-padding $component-medium-text-h-align;

    .single-text-inner {
      max-width: $component-medium-header-max-width;
      margin: 0 auto;
    }

    + .rooms-archive .single-text {
      padding-top: 0;
    }
  }

  @include breakpoint(large) {
    padding: $component-large-v-padding $component-large-text-h-align;

    .single-text-inner {
      max-width: $component-large-header-max-width + 160px;
    }
  }
}
