.single-post {
  background-color: $grey;

  .post-date {
    margin: 0 0 2rem;

    h3 {
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 1px;
      color: $grey-lighter;
      font-family: $secondary-font-light;
    }
  }

  .post-title {
    margin: 0 0 1.5rem;

    h1 {
      font-size: 3.6rem;
      line-height: 4.7rem;
      letter-spacing: 4px;
      color: $grey-lighter;
      font-family: $primary-font-regular;
    }
  }

  .post-body {
    margin: 0 0 2rem;
    color: $grey-lighter;
  }
}

.single-offer {
  padding: 20px 0 0;

  ul {
    margin: 0;
    list-style: none;
    display: inline-block;
    font-family: $secondary-font-light;
    li:before {
      content: '\2014 ';
      font-size: 1.4rem;
      letter-spacing: 1px;
      line-height: 3.65rem;
    }
  }

  @include breakpoint(small only) {
    padding: 50px 0;
  }

  .post-content {
    padding: 2rem 3rem;

    @include breakpoint(medium up) {
      padding: 4rem 6rem;
    }

    @include breakpoint(medium down) {
      order: 2;
    }
  }

  .post-image {
    height: 50vh;
    background-size: cover;
    background-position: center;
    box-shadow: 80px 0 120px 0 $black inset;

    @include breakpoint(medium down) {
      order: 1;
      height: 80vh;
    }

    @include breakpoint(large) {
      height: 95vh;
    }
  }
}
