.subscribe {
  max-height: 300px;

  .subscribe-wraper {
    display: flex;
    padding: 75px 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include breakpoint(small only) {
      padding: 55px 0;
    }

    .cachet-content {
      min-height: 24px;
      font-size: 2.2rem;
      text-transform: uppercase;

      @include breakpoint(small only) {
        font-size: 1.6rem;
        width: 80%;
      }
    }

    .subscribe-validations {
      min-height: 49px;
    }

    .subscribe-server-fail,
    .subscribe-validation-fail {
      color: $red;
      font-size: 1.2rem;
      margin: 2.5rem 0 0;
      line-height: 2.4rem;
      letter-spacing: 0.075rem;
      font-family: $secondary-font-light;
    }

    .subscribe-submit-success {
      color: $grey;
      padding: 0 15px;
      font-size: 1.6rem;
      line-height: 2rem;
      text-align: center;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      font-family: $secondary-font-light;
    }
  }

  .subscribe-form {
    width: 28%;
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid $black;
    min-height: 50px;

    &.has-error {
      input {
        color: $red;
      }
    }

    @include breakpoint(medium down) {
      margin-top: 25px;
      width: 265px;
    }

    input {
      margin: 0;
      height: auto;
      border: none;
      min-width: 0;
      line-height: 1;
      box-shadow: none;
      font-size: 1.6rem;
      color: $grey-light;
      text-align: center;
      padding: 35px 0 14px 0;
      letter-spacing: 0.08rem;
      background-color: $white;
      font-family: $secondary-font-light;

      @include breakpoint(medium down) {
        padding: 10px 20px;
        font-size: 1.4rem;
      }

      &::placeholder {
        color: $black;
        text-transform: none;
        font-family: $secondary-font-light;
      }
      &:focus {
        border: none;
      }
    }
  }

  a {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 40px;
    font-size: 1.6rem;
    color: $grey-light;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-family: $secondary-font-light;
  }
}
