.tri-content {
  background-size: 640px;
  padding-top: $component-small-v-padding;
  padding-bottom: $component-small-v-padding;
  background-image: url($image-path+'hexagon_pattern.png');

  .tri-title {
    @include responsive-title();
    padding: 0 $component-small-text-h-align;
    text-align: center;
    margin-bottom: 1.3rem;
  }

  .tri-body {
    @include responsive-body($white);
    text-align: center;
    padding: 0 $component-small-text-h-align;
    margin-bottom: 2.3rem;
  }

  .tri-cta {
    text-align: center;
    margin-bottom: 3rem;

    a {
      font-size: 1.2rem;
    }
  }

  .tri-block {
    padding: 0 1.2rem;
    display: block;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    &:hover .alt-image {
      visibility: visible;
      pointer-events: inherit;
      opacity: 1;
    }
  }

  .tri-block-inner {
    padding-top: 135%;
    position: relative;
  }

  .image-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding-top: 135%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }

  .image {
    position: absolute;
    width: 104%;
    height: 104%;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-2%, -2%);
  }

  .alt-image {
    @include transition-duration-m();
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  .block-body {
    margin-top: 2rem;
  }

  .block-title {
    font-family: $primary-font-regular;
    font-size: 1.8rem;
    color: $white;
    letter-spacing: 2px;
    line-height: 23px;
    margin-bottom: 1rem;
  }

  .block-subtitle {
    font-family: $secondary-font-light;
    font-size: 0.8rem;
    color: $white;
    letter-spacing: 1.5px;
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
  }

  @include breakpoint(medium) {
    padding: $component-medium-v-padding $component-medium-text-h-align;

    .tri-header {
      margin: 0 auto;
      max-width: $component-medium-header-max-width;
    }

    .tri-title,
    .tri-body {
      padding-left: 0;
      padding-right: 0;
    }

    .tri-body {
      margin-bottom: 3rem;
    }

    .tri-blocks-slider {
      @include flex-grid-row($behavior: nest collapse, $wrap: false, $gutters: 6px);
    }

    .tri-block {
      @include flex-grid-column(expand, 6px);
    }

    .block-title {
      margin-bottom: 0.5rem;
    }

    .image {
      &::after {
        content: '';
        display: block;
        width: 100%;
        bottom: 0;
        height: 130px;
        position: absolute;
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
      }
    }

    .block-body {
      position: absolute;
      bottom: 1rem;
      z-index: 2;
      width: 100%;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.3);
    }
  }

  @include breakpoint(large) {
    padding: $component-large-v-padding $component-large-text-h-align;

    .tri-header {
      max-width: $component-large-header-max-width + 160px;
    }

    .tri-body {
      margin-bottom: 3rem;
    }

    .tri-blocks-slider {
      @include flex-grid-row($behavior: nest collapse, $wrap: false, $gutters: 10px);
    }

    .tri-block {
      @include flex-grid-column(expand, 10px);
    }

    .block-title {
      font-size: 2.2rem;
      margin-bottom: 1rem;
      letter-spacing: 2px;
    }

    .block-subtitle {
      font-size: 1.2rem;
      letter-spacing: 3px;
    }
  }
}
