<template>
  <div id="app">
    <!--<router-link to="/test">Test page one</router-link>-->
    <!--<router-link to="/test2sss">Test page two</router-link>-->
    <!--<short-code-expander-->
    <!--content="tugh life <b>gg easy</b> [os-button :text='$route.fullPath' /] hh [value name='pageInCurrentRoute.title.rendered'/]"/>-->
    <router-view/>

  </div>
</template>

<script>
import ShortCodeExpander from './core/components/ShortCodeExpander'
import OsButton from './components/OsButton'

export default {
  components: { ShortCodeExpander },
  data: () => ({
    comps: { OsButton },
  }),
}
</script>

<style lang="scss">
@import './components/cachet/scss/main';
</style>
