<script>
import kebabCase from 'lodash-es/kebabCase'

export default {
  name: 'BaseShortCodeExpander',
  functional: true,
  props: {
    content: { type: String, required: false, default: '' },
    components: {
      type: Object,
      required: false,
      default: () => ({}),
    },
  },
  render(h, { props: { content, components } }) {
    const parsedTpl = content.replace(
      /\[(\/?)([^\s[]+)([^[]*)]/g,
      (match, maybeClosing, maybeComponentName, attrsOrSelfClosing) => {
        const tag = kebabCase(maybeComponentName)

        return components[tag]
          ? `<${maybeClosing}${tag}${attrsOrSelfClosing ? ` ${attrsOrSelfClosing}` : ''}>`
          : match
      },
    )

    return h({
      template: `<base-short-code-expander-root>${parsedTpl}</base-short-code-expander-root>`,
      components: {
        ...components,
        BaseShortCodeExpanderRoot: {
          functional: true,
          // eslint-disable-next-line no-shadow
          render(h, { children }) {
            // This could be improved by parsing the HTML and returning an array of nodes instead of
            // wrapping this in a div, or just wait until vue supports returning multiple root elements
            // via functional template
            return children.length > 1 ? <div>{children}</div> : children[0]
          },
        },
      },
    })
  },
}
</script>
