<template>
  <div class="swiper-container">
    <slot name="before-wrapper"/>
    <div class="swiper-wrapper">
      <slot/>
    </div>
    <div v-if="defaultPagination" class="swiper-pagination"/>
    <div v-if="defaultScrollbars" class="swiper-scrollbar"/>
    <div v-if="defaultNavigation" class="swiper-button-next"/>
    <div v-if="defaultNavigation" class="swiper-button-prev"/>
    <slot name="after-wrapper"/>
  </div>
</template>

<script>
import { A11y, Keyboard, Navigation, Swiper } from 'swiper'
import merge from 'lodash-es/merge'

export default {
  name: 'SwiperSlider',
  props: {
    options: { type: Object, required: true },
    modules: {
      type: [Object, Array],
      default: () => null,
    },
    init: { type: Boolean, default: true },
  },

  computed: {
    defaultPagination() {
      return this.options.pagination && !this.options.pagination.el
    },
    defaultScrollbars() {
      return this.options.scrollbar && !this.options.scrollbar.el
    },
    defaultNavigation() {
      const { navigation: nav } = this.options
      return nav && (!nav.nextEl && !nav.prevEl)
    },
  },

  watch: {
    options() {
      this.recreateSwiper()
    },
    modules() {
      if (this.modules) {
        Swiper.use(this.modules)
        this.recreateSwiper()
      }
    },
  },

  beforeMount() {
    Swiper.use([Navigation, Keyboard, A11y])

    if (this.modules) Swiper.use(this.modules)
  },

  mounted() {
    this.recreateSwiper()
  },

  updated() {
    this.swiper.update()
  },

  beforeDestroy() {
    if (this.swiper) this.swiper.destroy()
  },

  methods: {
    control(swiper) {
      this.controlled = swiper
      this.recreateSwiper()
    },

    recreateSwiper() {
      if (this.swiper) this.swiper.destroy()

      this.swiper = new Swiper(
        this.$el,
        merge(
          {
            preloadImages: false,
            keyboard: {
              enabled: true,
              onlyInViewport: true,
            },
            a11y: true,
            navigation: {},
          },
          this.options,
          {
            controller: {
              control: this.controlled,
            },
          },
        ),
      )

      this.$emit('update:swiper', this.swiper)
    },
  },
}
</script>
