<template>
  <div class="swiper-slide">
    <div v-if="zoom" class="swiper-zoom-container">
      <slot/>
    </div>
    <slot v-else/>
  </div>
</template>

<script>
export default {
  name: 'SwiperSlide',
  props: {
    zoom: { type: Boolean, required: false, default: false },
  },
}
</script>
