.booking-modal {
  &:focus {
    outline: none;
  }

  padding-left: 0;
  padding-right: 0;
  text-align: center;
  top: 50% !important;
  transform: translateY(-50%);
  min-height: inherit;
  height: inherit;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);

  .booking-modal-title {
    font: 3.5rem $primary-font-regular;
    letter-spacing: 0.5rem;
    margin-top: 6rem;
    @include breakpoint(small only) {
      font-size: 3rem;
      padding: 1.5rem;
    }
  }

  .booking-modal-body {
    font: 1.6rem $secondary-font-light;
    letter-spacing: 0.15rem;
    line-height: 2.5rem;
    padding: 1.5rem 12rem 2.5rem;

    @include breakpoint(small only) {
      padding: 1.5rem;
    }
  }

  .close-button {
    @include close-modal-button();
  }

  .cta.color-contrast {
    margin-bottom: 3rem;
    padding: 1rem;
  }
}
