.footer {
  background-color: $grey;

  .left-footer {
    width: 100%;
    height: 100%;
    min-height: 220px;

    @include breakpoint(medium) {
      min-height: 330px;
    }

    @include breakpoint(large) {
      min-height: 410px;
    }

    #footer-hotel-location {
      height: 100%;
      min-height: 220px;

      & > div {
        background-color: transparent !important;
      }

      @include breakpoint(medium) {
        min-height: 330px;
      }

      @include breakpoint(large) {
        min-height: 410px;
      }

      a[href^="http://maps.google.com/maps"],
      a[href^="https://maps.google.com/maps"] {
        display: none !important;
      }

      .gmnoprint a,
      .gmnoprint span,
      .gm-style-cc {
        display: none;
      }

      .gmnoprint div {
        background: none !important;
      }
    }
  }

  .right-footer {
    color: $white;
    padding-left: 80px !important;

    .footer-title {
      font-size: 2.2rem;

      @include breakpoint(small only) {
        font-size: 1.8rem;
      }
    }

    .cachet-content {
      color: $white;
      font-size: 1.6rem;
    }

    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }

    @include breakpoint(medium down) {
      padding-left: 0 !important;

      .footer-title {
        padding: 30px 30px 10px 30px;
        font-size: 2.2rem;
      }

      .cachet-content {
        padding: 0 30px 40px 30px;
        font-size: 1.4rem;
      }
    }

    @include breakpoint(small only) {
      text-align: center;
    }
  }

  .bottom-footer {
    color: $white;
    padding: 2.3em 0;
    background-color: $black;

    .content-title {
      font-size: 0.9rem;
      line-height: 1.5rem;
      letter-spacing: 0.2rem;

      @include breakpoint(medium up) {
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.1rem;
      }

      margin-top: 60px;
      margin-left: 20px;

      @include breakpoint(medium down) {
        margin: 0 30px;
        text-align: center;
      }
    }

    a {
      color: $white;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    li {
      padding: 10px 20px;
      letter-spacing: 1px;
    }

    .line-block {
      padding: 0.5rem 0;
      border-bottom: 1px solid $white-alpha;
    }

    .footer-social {
      .content-title {
        margin-left: 35%;

        @include breakpoint(medium down) {
          margin: 0 30px;
        }
      }

      ul.menu {
        flex-direction: row-reverse;

        @include breakpoint(medium down) {
          flex-wrap: wrap;
          text-align: center;
          padding: 15px 0 35px 0;
          justify-content: center;
        }

        @include breakpoint(small only) {
          flex-direction: row;
          justify-content: center;
        }
      }

      .social-item {
        text-transform: capitalize;

        img {
          width: 3rem;
          padding: 0 0 0.5rem;

          @include breakpoint(medium up) {
            width: 1.8rem;
          }
        }
      }
    }

    @include breakpoint(medium down) {
      .menu,
      .menu.horizontal {
        flex-direction: row;
        padding: 15px 0 35px 0;
        justify-content: center;
      }
    }

    @include breakpoint(small only) {
      .menu,
      .menu.horizontal {
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
        padding: 15px 0 35px 0;
      }
    }
  }
}
