.language-selector {
  $default-border-width: 0.1rem;
  $languageSize: 4rem;

  @mixin language-border(
    $border-color: $white,
    $border-width: $default-border-width,
    $border-side: 'border'
  ) {
    #{$border-side}: $border-width solid $border-color;
  }

  @include language-border(transparent);

  li.language.is-active {
    @include language-border();
    background: $black;

    .current-selected {
      color: $white;
    }

    .language {
      @include language-border();
      background: $black;

      &:not(:last-child) {
        border-bottom: none;
      }
    }

    .menu {
      // to fix bug
      left: -$default-border-width;
    }
  }

  .language {
    @include language-border(transparent);
    box-sizing: content-box;
    min-height: $languageSize;
    text-align: center;
    width: $languageSize;

    &.half-line-height a {
      line-height: $languageSize / 2;
    }

    a {
      color: $white;
      font: 1.2rem $secondary-font-light;
      line-height: $languageSize;
      letter-spacing: 0.2rem;
      padding: 0;
      text-transform: uppercase;
      white-space: normal;
    }
  }

  /*
      use .language in selector for ::after(specificity)
      and .current-selected is not inside above selector (.language) to avoid max nesting level (3)
  */
  li.language a.current-selected {
    @include language-border(transparent);
    @include language-border($white, $default-border-width, 'border-bottom');
    padding: 0;
    width: 1.8rem;
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 1rem 0.2rem 0;
    display: inline-block;
    letter-spacing: 0.2rem;

    &::after {
      // remove default arrow
      content: none;
    }
  }

  .menu {
    background-color: transparent;
    border: none;
  }

  @include breakpoint(large) {
    $default-border-width: 0.2rem;

    .is-active {
      @include language-border($default-border-width);

      .current-selected {
        @include language-border();
      }

      .language {
        @include language-border($default-border-width);
      }

      .menu {
        // to fix bug
        left: -$default-border-width;
      }
    }

    .language {
      a {
        font-size: 1.2rem;
      }

      .current-selected {
        @include language-border($white, $default-border-width, 'border-bottom');
      }
    }
  }
}
