.navigation {
  background-color: transparent;
  color: $white;
  position: fixed;
  overflow-y: visible;
  top: 0;
  transition: all 300ms ease;
  width: 100%;
  z-index: 5;

  .top-bar {
    align-items: flex-start;
  }

  .centered-menu {
    @include breakpoint(medium down) {
      width: 100%;
    }

    @include breakpoint(large) {
      left: 50%;
      position: absolute !important;
      transform: translateX(-50%);
    }
  }

  .menu-icon {
    width: 32px;

    &::after {
      background: $white-alpha-2;
      box-shadow: 0 7px 0 $white-alpha-2, 0 14px 0 $white-alpha-2;
    }
  }

  &.is-scrolled {
    .book-now,
    .store-name {
      display: block;
    }

    .book-now {
      font-size: 1.2rem;
      height: 100% !important;
      margin-left: auto;
      padding: $module-separation 1.7rem;
      min-height: 50px;

      @include breakpoint(medium up) {
        width: 240px;
      }
    }

    .collapsed-menu {
      min-height: 50px;
      padding-right: 0;
      background-color: $black;
    }

    .language-selector {
      display: none;
    }

    .store-name {
      padding-left: $module-separation;
    }
  }

  &.open {
    background-color: $black;
    height: 100vh;
    overflow-y: scroll;

    .book-now,
    .open-menu,
    .store-name {
      display: none;
    }

    .close-menu,
    .language-selector {
      display: block;
    }

    .close-menu {
      background: url($image-path+'close_menu.png') no-repeat;
      height: 2rem;
      width: 2.4rem;
    }

    .collapsed-menu {
      padding-right: 1.2rem;
    }

    .expandable-menu {
      padding-top: 0;

      @include breakpoint(medium only) {
        display: flex;
        flex-direction: column;

        //.top-bar-left {
        //  margin-right: 0;
        //}
      }
    }

    .top-bar-right {
      display: none;
    }
  }

  .book-now,
  .store-name {
    display: none;
  }

  .collapsed-menu {
    padding: 0 1.2rem;
    width: 100%;

    // thiner burguer lines
    .open-menu ::after {
      height: 0.1rem;
      box-shadow: 0 5px 0 #fefefe, 0 10px 0 #fefefe;
    }
  }

  .collapsed-menu,
  .expandable-menu,
  .expandable-menu ul {
    background-color: transparent;
  }

  .language-selector {
    margin-left: auto;
  }

  .responsive-menu {
    position: relative;
    text-align: center;

    &.offset-logo {
      @include breakpoint(medium down) {
        margin: -3rem auto 0;
      }

      @include breakpoint(small only) {
        flex: 0 0 auto;
        max-width: unset;

        ul {
          display: inline-block;
        }
      }
    }

    &.offset-menu-items {
      @include breakpoint(medium down) {
        margin-top: 2.5rem;
      }
    }

    .address {
      color: $white;
      margin-top: 2rem;
      font: 1.4rem $secondary-font-light;

      p:first-child {
        margin-bottom: 0;
      }
    }

    .menu-item {
      padding: 0 5px;

      a {
        color: $white;
        font-size: 1.8rem;
        white-space: normal;
        line-height: 2.5rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        font-family: $secondary-font-light;

        @include breakpoint(medium down) {
          line-height: 2.8rem;
          font-weight: normal;
          font-family: $primary-font-regular;
        }
      }

      &.lowercase a {
        text-transform: lowercase;
      }

      &.small a {
        color: $grey-light;
        font-size: 1rem;
        font-weight: 500;
        line-height: $module-separation;
      }

      &.margin-bottom a {
        margin-bottom: $module-separation;
      }

      &.current-menu-item {
        a {
          font-weight: bold;
          text-shadow: 0 0 0px $white;
        }
      }
    }

    .social-networks {
      padding-top: 4rem;

      .social-menu-link a img {
        width: 16px;
      }

      .social-menu-link:not(:last-child) {
        margin-right: 2rem;
      }
    }

    .navigation-logo {
      position: relative;
      top: 0;
      width: 13rem;
    }
  }

  .store-name {
    color: $white;
    font-size: 1.4rem;
    line-height: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: $tertiary-font-light;

    @include breakpoint(small only) {
      font-size: 1.1rem;
    }
  }

  @include breakpoint(medium down) {
    .more-menu-item {
      display: none !important;
    }
  }

  @include breakpoint(large only) {
    .expandable-menu {
      padding: 0;
    }
  }

  @include breakpoint(xlarge) {
    .expandable-menu {
      padding: 0 0 0 5rem;
    }
  }

  @include breakpoint(large) {
    overflow-y: visible; // to display language selector expanded

    .address,
    .social-networks {
      display: none;
    }

    .desktop-booking-widget {
      &.expanded {
        .widget-body {
          transform: translateY(78px);
          .widget-body-cta {
            //margin-top: 10px;
            min-height: 80px;
            height: 18%;

            .cta {
              height: 100%;
              //width: 100%;
              //cursor: pointer;
            }
          }
        }
      }
    }

    &.is-scrolled {
      height: auto;
      background-color: $black;

      .expandable-menu,
      .responsive-menu {
        padding-top: 0;
      }

      .desktop-booking-widget {
        .booking-cta {
          padding-right: 0.2rem;

          .best-rate {
            width: 100%;
            margin: 0.1rem;
            padding: 1.9rem 2.4rem;
          }
        }

        &.expanded {
          .widget-body {
            transform: translateY(-120%);

            .widget-body-cta {
              //margin-top: 10px;
              //min-height: initial;
              //height: initial;

              .cta {
                //height: initial;
                //width: 100%;
                //cursor: pointer;
              }
            }
          }
        }
      }

      .language-selector {
        display: inline-block;
      }

      .menu-item a {
        line-height: 4rem;
      }

      .responsive-menu {
        height: auto;
        //.menu-item a {
        //text-transform: lowercase;
        //}

        .store-name {
          display: inline-block;
          font-size: 1.4rem;
          max-width: 23rem;
          padding-left: $module-separation;
          text-align: left;
          vertical-align: middle;
          white-space: normal;
        }
      }

      .responsive-menu .navigation-logo {
        display: none;
        margin-right: auto;
        padding-left: 0.5rem;

        &.fixed {
          display: inline-block;
        }
      }
    }

    .best-rate {
      width: 100%;
      font-weight: 500;
      max-width: 16rem;
      //padding: 2.5rem;
      text-transform: none;

      .text-content.fixed {
        display: none;
      }
    }

    .language-selector {
      display: inline-block;
    }

    .main-items {
      flex-wrap: nowrap;
      display: block;
      white-space: nowrap;
      .menu-item {
        display: inline-block;
      }

      .more-menu-item {
        position: relative;
        display: none;

        &.has-items {
          display: inline-block;
        }

        &.open {
          .more-menu {
            visibility: visible;
            pointer-events: inherit;
            transform: translateX(50%);
            opacity: 1;
            width: auto;
            li {
              display: block;
            }
            li a {
              white-space: nowrap;
            }
          }
        }
      }

      .more-menu {
        position: absolute;
        top: 100%;
        right: 50%;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.25s ease;
        opacity: 0;
        background-color: $black;
        z-index: 998;
      }
    }

    .responsive-menu {
      height: 100%;
      padding-top: $module-separation;

      &.centered-menu {
        .menu-item {
          a {
            font-family: $secondary-font-light;
          }
        }
      }

      .menu-item {
        &.small a {
          display: none;
        }

        a {
          font-weight: 500;
          font-size: 1.2rem;
          letter-spacing: 0.3rem;
          text-transform: uppercase;
          font-family: $tertiary-font-light;
        }
      }

      .navigation-logo {
        margin-right: 8rem;
        width: 21rem;

        &.fixed {
          display: none;
          width: 3.5rem;
        }
      }
    }

    .top-bar-right {
      height: 100%;

      &.nav-actions {
        display: flex;
        align-items: baseline;
      }
    }
  }
}
