.page-navigation {
  z-index: 4;
  width: 100%;
  height: 38px;
  position: fixed;
  max-width: 100%;
  padding: 5px 0 0;
  min-height: 38px;
  background-color: #0a0a0a;
  box-shadow: 0 5px 5px $black-alpha;

  &.fullscreen {
    height: 100%;
  }

  > .current-in-view {
    opacity: 0;
    cursor: pointer;
    font-size: 0.85em;
    text-align: center;
    visibility: hidden;
    padding: 2px 0 1rem;
    pointer-events: none;
    color: $grey-lighter;
    transition: all 0.3s ease;
    transform: translateY(-100%);
    font-family: $secondary-font-light;

    &::after {
      content: '▼';
      font-size: 0.6em;
    }

    &.has-text {
      opacity: 1;
      visibility: visible;
      pointer-events: inherit;
      transform: translateY(0);
    }

    &.open {
      &::after {
        content: '▲';
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;

    > .nav {
      margin: 0;
      opacity: 0;
      display: flex;
      visibility: hidden;
      pointer-events: none;
      transition: transform 0.25s ease, visibility 0.25s ease, opacity 0.25s ease;
    }
  }

  li {
    flex: 1 1 auto;
    list-style: none;

    > a {
      width: 100%;
      display: block;
      font-size: 1.2rem;
      text-align: center;
      white-space: nowrap;
      line-height: 1.5rem;
      color: $grey-lighter;
      letter-spacing: 0.1rem;
      padding: 0.55em 1.4em 0.25em;
      font-family: $secondary-font-light;

      &:active,
      &:hover {
        color: $white;
      }
    }

    &.active {
      > a {
        span {
          padding-bottom: 5px;
          display: inline-block;
          border-bottom: 2px solid $grey-lighter;
        }

        &:active,
        &:hover {
          color: $grey-lighter !important;
        }
      }

      + .active {
        > a {
          span {
            border-bottom: 0;
          }
        }
      }
    }
  }

  .more-menu-item {
    display: none;
  }

  @include breakpoint(small only) {
    left: 0;
    top: $nav-small-height;
    background-color: $black;

    .wrapper {
      height: 100%;

      & > .nav {
        left: 0;
        width: 100%;
        margin: -72px 0 0;
        position: absolute;
        align-self: center;
        flex-direction: column;
        background-color: $black;
        transform: translateY(-15%);

        > li {
          > a {
            padding: 1.5rem;
          }
        }
      }
    }

    > .current-in-view.open + .wrapper > .nav {
      opacity: 1;
      visibility: visible;
      pointer-events: inherit;
      transform: translateY(0);
    }
  }

  @include breakpoint(medium) {
    left: 50%;
    display: block;
    top: $nav-medium-height;
    transform: translateX(-50%);

    > .current-in-view {
      display: none;
    }

    &.start-hiding {
      opacity: 0.75;
      transition: opacity 300ms ease-in-out;
    }

    &.end-hiding {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    .wrapper > .nav {
      width: 1px;
      max-width: 100%;
      transition-duration: 0.5s;
      justify-content: flex-start;
      transform: translateY(100%);

      &.dimensions-collected {
        width: auto;
      }

      &.reflow-ready {
        opacity: 1;
        visibility: visible;
        pointer-events: inherit;
        transform: translateY(0);
      }
    }

    .more-menu-item {
      position: relative;

      &.has-items {
        display: block;
      }

      &.open {
        .more-menu {
          opacity: 1;
          visibility: visible;
          pointer-events: inherit;
          transform: translateY(0);
        }
      }
    }

    .more-menu {
      right: 0;
      top: 100%;
      opacity: 0;
      z-index: 3;
      position: absolute;
      visibility: hidden;
      pointer-events: none;
      background-color: $black-alpha;
      transition: all 0.25s ease;
      transform: translateY(15px);
    }

    body.has-page-navigation > #main-container {
      padding-top: 0;
    }
  }

  @include breakpoint(large) {
    top: $nav-large-height;

    .wrapper > .nav {
      justify-content: center;
    }
  }
}

body.has-page-navigation > #main-container {
  padding-top: 35px;
}
