.page-404 {
  background-color: $grey-lighter;

  .headline {
    margin-top: 45px;
    font-size: 1.4rem;
    margin-bottom: 28px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-family: $secondary-font-light;

    @include breakpoint(medium) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include breakpoint(large) {
      font-size: 1.4rem;
      margin-bottom: 47px;
      letter-spacing: 0.3rem;
    }
  }

  .description {
    padding: 0 28px;
    line-height: 1.4;
    font-size: 1.8rem;
    margin-bottom: 24px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: $primary-font-regular;

    @include breakpoint(medium) {
      margin-bottom: 20px;
    }

    @include breakpoint(large) {
      padding: 0 75px;
      line-height: 1.4;
      font-size: 3.6rem;
      margin-bottom: 32px;
      letter-spacing: 0.1rem;
    }
  }

  .cta {
    margin-bottom: 45px;

    @include breakpoint(medium up) {
      margin-bottom: 20px;
    }
  }

  .banner {
    height: 65vh;
    background-size: cover;
    background-position: right;

    @include breakpoint(large) {
      height: 90vh;
    }
  }
}
