.rfp-event-modal {
  color: $grey;
  width: 650px;
  height: auto;
  text-align: center;
  font-family: $secondary-font-light;
  padding: 10px 20px 20px;

  @include breakpoint(small only) {
    width: 100%;
    top: 0 !important;

    .column:first-of-type {
      margin-bottom: 30px;
    }
  }

  .content-title {
    color: $grey;
    margin-top: 45px;
    font-weight: 500;
    font-size: 2.2rem;
    letter-spacing: 2px;
  }

  .response-success {
    font-family: $secondary-font-light;
    padding: 20px;
    margin-top: 20px;

    @include breakpoint(small only) {
      margin-top: 50px;
      font-size: 2.5rem;
    }
  }

  .response-error {
    padding: 20px;
    margin-top: 20px;
  }

  .rfp-event-modal-content {
    margin: 50px auto 10px;

    .rfp-event-column-title {
      text-transform: uppercase;
      text-align: left;
      font-size: 1.5rem;
      margin: 0 0 30px 5px;
    }

    .rfp-event-area-title {
      text-transform: uppercase;
      text-align: left;
      font-size: 1.5rem;
      margin: 30px 0 10px 5px;
    }

    .rfp-field {
      width: 100%;
      position: relative;

      .rfp-input.datepicker,
      .rfp-input.timepicker {
        cursor: pointer;
      }

      div.rfp-arrow {
        cursor: pointer;
        position: absolute;
        background-image: url($image-path+'scroll_indicator_dark.svg');
        right: 10px;
        top: calc(50% - 0.5rem);
        width: 30px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
      }

      select + div.rfp-arrow {
        top: calc(50% - 1rem);
      }
    }

    .rfp-input {
      width: 100%;
      border: none;
      margin-bottom: 5px;
      color: $grey-light;
      border-bottom: 1px solid $grey-light;
      box-shadow: none;
      padding: 0.5rem;
      font-size: 1.6rem;
      height: 35px;
      background-color: transparent;

      &:focus,
      &:active,
      &:hover {
        outline: none;
      }

      &.datepicker:after,
      &.timepicker:after {
        position: absolute;
        content: '';
        background-image: url($image-path+'scroll_indicator_dark.svg');
        right: 10px;
        top: calc(50% - 0.5rem);
        width: 30px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .rfp-textarea {
      border: 1px solid $grey-light;
      resize: none;
      font-size: 1.4rem;
      width: 100%;
      color: $grey-light;
      height: 110px;
    }

    .rfp-select {
      width: 100%;
      border: none;
      margin-bottom: 5px;
      color: $grey-light;
      border-bottom: 1px solid $grey-light;
      box-shadow: none;
      padding: 0.5rem;
      font-size: 1.6rem;
      height: 35px;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .cta {
    line-height: 1.5;
  }

  &:focus {
    outline: none;
  }

  .close-button {
    @include close-modal-button();
  }
}
