.rfp-table-modal {
  color: $grey;
  width: 650px;
  height: 500px;
  text-align: center;
  font-family: $secondary-font-light;
  padding: 10px 20px 20px;

  @include breakpoint(small only) {
    width: 100%;
    top: 0 !important;
  }

  .content-title {
    color: $grey;
    margin-top: 65px;
    font-weight: 500;
    font-size: 2.2rem;
    letter-spacing: 2px;
  }

  .rfp-table-modal-content {
    width: 320px;
    margin: 50px auto;

    .rfp-select {
      width: 100%;
      border: none;
      margin-bottom: 5px;
      color: $grey-light;
      border-bottom: 1px solid $grey-light;
      box-shadow: none;
      padding: 0.5rem;
      font-size: 1.6rem;
      height: 35px;
      background-color: transparent;
      cursor: pointer;
    }

    .rfp-field {
      width: 100%;
      position: relative;

      .rfp-input.datepicker,
      .rfp-input.timepicker {
        cursor: pointer;
      }

      div.rfp-arrow {
        cursor: pointer;
        position: absolute;
        background-image: url($image-path+'scroll_indicator_dark.svg');
        right: 10px;
        top: calc(50% - 0.5rem);
        width: 30px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;

        &.inverted {
          transform: rotate(180deg);
        }
      }
    }

    .rfp-input {
      width: 100%;
      border: none;
      margin-bottom: 5px;
      color: $grey-light;
      border-bottom: 1px solid $grey-light;
      box-shadow: none;
      padding: 0.5rem;
      font-size: 1.6rem;
      background-color: transparent;

      &:focus,
      &:active,
      &:hover {
        outline: none;
      }

      &.datepicker:after,
      &.timepicker:after {
        position: absolute;
        content: '';
        background-image: url($image-path+'scroll_indicator_dark.svg');
        right: 10px;
        top: calc(50% - 0.5rem);
        width: 30px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  .cta {
    line-height: 1.5;
  }

  &:focus {
    outline: none;
  }

  .close-button {
    @include close-modal-button();
  }
}
