.room-modal {
  @include aspect-ratio(10, 4.7, '.room-modal-inner');
  border: none;
  top: 50% !important;
  position: fixed;
  left: 50% !important;
  transform: translate(-50%, -50%);

  &:focus {
    outline: none;
  }

  .close-button {
    @include close-modal-button();
    z-index: 1;
  }

  .room-modal-slider {
    padding: 0;
    margin: 0;
  }

  .room-modal-slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .room-modal-content {
    padding: 0 $component-large-v-padding;
    overflow-y: auto;
  }

  .room-modal-title {
    font: 4rem $primary-font-regular;
    padding-top: $component-large-v-padding;
    line-height: 5.5rem;
  }

  .room-modal-description {
    font: 1.6rem $secondary-font-light;
    letter-spacing: 0.1rem;
    padding-top: 1rem;
  }

  .cta.color-contrast {
    padding: 1rem;
    margin: 3.5rem auto;
  }

  .slick-slider,
  .slick-list,
  .slick-track {
    height: 100%;
  }

  .slick-dots {
    padding-left: 1.5rem;
    text-align: left;

    li {
      @include slider-dot($white);
    }
  }

  @include breakpoint(small only) {
    .slick-slider {
      height: 50%;
    }

    .room-modal-slider {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .room-modal-content {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .room-modal-content {
      padding: 4.6rem 2.7rem;
      min-height: 50%;
    }

    .room-modal-title {
      padding-top: 4.5rem;
    }
    .slick-list {
      height: calc(100% - 0px);
    }
    .close-button {
      top: 1.5rem;
      position: fixed;
    }
    .close-background-title {
      position: fixed;
      background: $grey-lighter;
      height: 50px;
      width: 100%;
      z-index: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      h5 {
        margin: 0;
        text-transform: uppercase;
      }
    }
    .slick-dots {
      text-align: center;
      margin-bottom: -5rem;
      li button:before {
        box-shadow: inset 0 0 0 1px $grey;
      }
      li.slick-active button:before {
        background-color: $grey;
      }
    }
    .room-modal-inner {
      overflow-y: auto;
    }
  }
}

// fixed ugly scroll when no necessary
@include breakpoint(small only) {
  .reveal-overlay {
    overflow-y: hidden;
  }
}
