.room {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.5rem;
  &::after {
    content: '';
    display: block;
    width: 100%;
    bottom: 0;
    height: 130px;
    position: absolute;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  }

  .room-body {
    bottom: 0;
    color: $white;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .room-title {
    font: 2rem $primary-font-regular;
    margin-bottom: 1.5rem;
  }

  .room-subtitle {
    font: 1.2rem $secondary-font-light;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
}
